//字色
$white: #f00
$light-gray: #eee
$gray: #ccc
$dark-gray: #999
$light-black: #555
$dark-black: #111

//主色系與輔助色
$m-color-y: #fde38f
$m-color: #fbed9e
$sub-color: #c19b57//土黃
$off-color: #b88862//無狀態顏色
$cover-color: #220900

//物件色系
$btn-submit: #ac1a2f//紅
$btn-submit-hover: #971527//深紅

//漸層文字
=grad-txt
    background: -webkit-linear-gradient(top,#99432b,#ffaf2e 40%,#fcff96 48%,#fcffff,#fcff96 52%,#ffaf2e 60%,#99432b)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

=grad-tit
    background: -webkit-linear-gradient(top,#99432b 15%,#ffaf2e 30%,#fcff96 45%,#fcffff,#fcff96 55%,#ffaf2e 70%,#99432b 85%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

//框框線條漸層
=grad-border
    border: 2px solid
    //border-image: linear-gradient(215deg,$m-color02 ,#f5ed8d,) 10
    border-image: linear-gradient(145deg,#775729 10%,#eee33d 20%,#775729 30%) 10
    
//漸層
=grad-b
    background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: -o-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: -moz-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))

//漸層
=grad-yellow
    background: -webkit-linear-gradient(90deg,rgba(#FFEDCF,0) 0,rgba(#FFEDCF,1) 20%,rgba(#FFEDCF,1) 80%,rgba(#FFEDCF,0) 100%)
    background: -o-linear-gradient(90deg,rgba(#FFEDCF,0) 0,rgba(#FFEDCF,1) 20%,rgba(#FFEDCF,1) 80%,rgba(#FFEDCF,0) 100%)
    background: -moz-linear-gradient(90deg,rgba(#FFEDCF,0) 0,rgba(#FFEDCF,1) 20%,rgba(#FFEDCF,1) 80%,rgba(#FFEDCF,0) 100%)
    background: linear-gradient(90deg,rgba(#FFEDCF,0) 0,rgba(#FFEDCF,1) 20%,rgba(#FFEDCF,1) 80%,rgba(#FFEDCF,0) 100%)

//進度條漸層
=grad-progress
    background: -webkit-linear-gradient(#EAD8B4,#FFF9E6)
    background: -o-linear-gradient(#EAD8B4,#FFF9E6)
    background: -moz-linear-gradient(#EAD8B4,#FFF9E6)
    background: linear-gradient(#EAD8B4,#FFF9E6)

//框框線條漸層
=card-border
    background: -webkit-linear-gradient(145deg,#E0B672,#FFE0AA,#E0B672)
    background: -o-linear-gradient(145deg,#E0B672,#FFE0AA,#E0B672)
    background: -moz-linear-gradient(145deg,#E0B672,#FFE0AA,#E0B672)
    background: linear-gradient(145deg,#E0B672,#FFE0AA,#E0B672)

//框框線條漸層
=light-border
    background: -webkit-linear-gradient(145deg,#EBCA91,#DAAB62,#EDCF95,#CBAD7E)
    background: -o-linear-gradient(145deg,#EBCA91,#DAAB62,#EDCF95,#CBAD7E)
    background: -moz-linear-gradient(145deg,#EBCA91,#DAAB62,#EDCF95,#CBAD7E)
    background: linear-gradient(145deg,#EBCA91,#DAAB62,#EDCF95,#CBAD7E)

//light背景圓型漸層
=light-bg
    background: -webkit-linear-gradient(circle at center,rgba(#FFE2AD,0),rgba(#FFE2AD,0.5))
    background: -o-linear-gradient(circle at center,rgba(#FFE2AD,0),rgba(#FFE2AD,0.5))
    background: -moz-linear-gradient(circle at center,rgba(#FFE2AD,0),rgba(#FFE2AD,0.5))
    background: radial-gradient(circle at center,rgba(#FFE2AD,0),rgba(#FFE2AD,0.5))