@media screen and (max-width: 1800px)
 //依情況增加，不一定需要//1601-1920，1920以上如未指定需要滿版，以1920寬呈現

@media screen and (max-width: 1600px)
 //依情況增加，不一定需要//1401-1600

@media screen and (max-width: 1400px)
 //依情況增加，不一定需要//1201-1400

@media screen and (max-width: 1200px)
    //涵蓋到平板打橫 1024//1024-1200
    //=== 問題區 ===
    .page-logo
        width: 15%
        top: 30px
        left: 30px
    .question-list
        width: calc(100% - 40px)
    //=== 結果區 ===
    // .result-cont
    //     padding-top: 25%
    .result-paper-area
        width: 100%
    .social-area
        width: 100%

@media screen and (max-width: 1023px) 
    //涵蓋到平板 768-1023
    //製作時最好是768-1024都能維持一樣，如不行，就是分1023跟1200
    .pillar
        width: 125px
        .pillar-center
            height: calc(100% - 397px)//398
    .flower
            width: 200px
    .main
        width: calc(100% - 250px)
    //=== 題目區 1023 ===
    // .page-logo
    //     top: 1%
    //     left: 10%
    .question-point-box
        width: 575px
        margin: 0 auto
        justify-content: $sb
        .question-point
            order: 2
        .txt
            width: 90px
            text-align: center
            margin: 0 6px 10px
        .txt.right
            order: 1
    //=== 結果區 1023 ===
    .result-paper-cont
        .page-border.top
            bottom: 95%
        .page-border.bot
            top: 98%
    .result-info-card-area
        margin: 0 auto 50px
    .result-info-cube-area
        width: 100%
            
@media screen and (max-width: 900px)
    .lightbox-area-bg
        width: calc(100% - 120px)

@media screen and (max-width: 767px)  
    //767以下即涵蓋手機版，以手機版呈現
    .lightbox-area-bg
        width: calc(100% - 30px)
    .light-close
        width: 25px
        height: 25px
        right: 0
        top: -30px
    .lightbox-area
        padding: 40px 20px 50px
        // padding-bottom: 70px
    // .privacy-info
    //     height: 350px
    //=== 歡迎頁 767 ===
    .main-area
        padding: 20px
    .main-cont
        min-height: auto
    .pillar
        width: 75px
        .pillar-center
            height: calc(100% - 237px)//238
    .flower
            width: 150px
    .main
        width: calc(100% - 150px)
        padding-top: 30px
    .logo
        width: 80%
        margin-bottom: 30px
    .slogan
        font-size: 20px
        margin-bottom: 20px
    .info-txt
        padding: 15px 0
        // margin-bottom: 30px
    .card-cont
        height: auto
        padding: 0 25px
        top: 45%
        p
            font-size: 14px
            margin: 0 0 30px
            letter-spacing: 0
    .privacy-check-area
        margin: 0 0 40px
    .name-area
        margin: 0 0 20px
    .name-title
        font-size: 18px
    .name-input
        font-size: 16px
    .character-run-area
        width: 1000px
    
    //=== 題目區 767 ===
    .page-logo
        width: 16%
        top: 25px
        left: 25px
    .question-cont
        padding: 25% 7% 100px
    .progress-area
        width: 360px
        margin: 0 auto 50px
    .progress-tit
        margin: 0 0 10px
    .question-list
        width: calc(100% - 20px)
    .question-box
        padding: 30px 0
        .tit
            font-size: 20px
            margin: 0 0 20px
    .question-point-box
        width: 351px
        .txt
            font-size: 16px
            width: auto
            margin: 0 0 10px
    .question-point
        margin: 0 auto
    .point-box
        margin: 0 4px
        input[type="radio"]:checked + .point::after
            width: 15px
            height: 15px
        input[type="radio"]:checked + .point.small::after
            width: 25px
            height: 25px
        input[type="radio"]:checked + .point.middle::after
            width: 35px
            height: 35px
        input[type="radio"]:checked + .point.big::after
            width: 45px
            height: 45px
    .point
        width: 25px
        height: 25px
        border: 2px solid #828749
    .point.big
        width: 55px
        height: 55px
    .point.middle
        width: 45px
        height: 45px
    .point.small
        width: 35px
        height: 35px

    //=== 結果區 767 ===
    .result-cont
        padding-top: 35%
    // .result-paper-bg
    //     top: 4%
    // .result-paper-group
    //     &:after
    //         margin: 0
    //     .star.top
    //         top: -2.5%
    .result-paper-cont
        .page-border.top
            bottom: 99%
        .page-border.bot
            top: 99%
        .coner
            width: 23%
            padding-bottom: 23%
        .coner1
            left: 10px
        .coner2
            right: 10px
        .star.bot
            top: 0
    .circle-tit-box
        margin: 0 0 25px
        span
            font-size: 26px
            width: 50px
            height: 50px
            line-height: 50px
            margin: 0 5px
    .result-name-box
        font-size: 28px
        margin: 0 0 35px
        .txt
            margin: 0 10px
    .result-info-cube-box
        width: 100%
        .tit
            font-size: 18px
        .cont
            font-size: 16px
            padding: 0 10px
    .result-info-cube-box.bot
        margin: 0 0 20px
    .result-info-overview-area
        margin: 0

    .result-paper-page
        margin-bottom: 300px
        &:last-child
            margin-bottom: 120px

    footer
        font-size: 12px

@media screen and (max-width: 480px)
    .lightbox-area
        padding: 30px 20px 50px
    .lightbox-tit
        margin: 0 0 10px
    .light-cont
        padding: 20px
    .privacy-lightbox
        .light-cont
            padding: 20px 0px 20px 20px
    .lg-star
        width: 100px
        height: 73px
    .input-box
        margin: 0 0 15px
        label
            font-size: 16px
    .btn-box
        width: 150px

    //=== 歡迎頁 480 ===
    .main-area
        padding: 10px
    .pillar
        width: 50px
        // .flower
        //     width: 100px
        .pillar-center
            height: calc(100% - 159px)//160
    .main
        width: calc(100% - 100px)
    .slogan
        font-size: 16px
        letter-spacing: 0
    .info-txt
        font-size: 15px
        letter-spacing: 0
    .card-cont
        padding: 0 20px
        p
            margin: 0 0 15px
    .name-title
        font-size: 16px
    .start-btn
        width: 150px
    .character-run-area
        bottom: 150px

    //=== 題目區 480 ===
    .page-logo
        width: 18%
        top: 10px
        left: 10px
    .progress-area
        width: 85%
        margin: 0 auto 30px
    .progress-tit
        font-size: 18px
    .question-box
        padding: 25px 0
        .tit
            font-size: 16px
            margin: 0 0 20px
    .question-point-box
        width: 302px
        .txt
            font-size: 15px
            margin: 0 0 5px
    .point-box
        margin: 0 4.5px
        input[type="radio"]:checked + .point.small::after
            width: 20px
            height: 20px
        input[type="radio"]:checked + .point.middle::after
            width: 25px
            height: 25px
        input[type="radio"]:checked + .point.big::after
            width: 30px
            height: 30px
    .point.big
        width: 40px
        height: 40px
    .point.middle
        width: 35px
        height: 35px
    .point.small
        width: 30px
        height: 30px

    //=== 結果區 480 ===
    .result-cont
        padding-top: 40%
    // .result-paper-bg
    //     top: 2%
    // .result-paper-group
    //     &:after
    //         margin: 20% 0 0
    .circle-tit-box
        span
            font-size: 22px
            width: 40px
            height: 40px
            line-height: 40px
    .result-name-box
        font-size: 18px
        margin: 0 0 25px
    .result-paper-area
        margin-bottom: 150px
    .result-paper-cont
        padding: 20px 15px
        .star.top
            bottom: 0
        .star.bot
            top: 0
    .more-btn
        width: 200px
    .social-area
        margin: 150px 0 0

    .result-paper-page
        margin-bottom: 250px
        // &:last-child
        //     margin-bottom: 120px

@media screen and (max-width: 414px)
    .card-cont
        padding: 0 10px
        top: 47%
        p
            font-size: 12px
    .name-title
        font-size: 14px
    .name-box
        width: 95%
        margin: 0 auto
    .character-run-area
        bottom: 100px

    .input-sty,.select-sty
        font-size: 16px
        line-height: 18px
        padding: 8px 15px
    .radio-group
        span
            font-size: 16px


@media screen and (max-height: 700px)
    // .lightbox-area
    //     padding: 20px 20px 50px
    .privacy-info
        height: 260px

    