@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty
//input 樣式

.mask
    width: 100%
    height: 100%
    position: fixed
    top: 0
    right: 0
    background: rgba(#000,0.6)
    z-index: 10
    display: none
//=== lightbox ===
.lightbox-area-bg
    width: 700px
    padding: 5px 0
    border-radius: 30px
    +light-border
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 11
    display: none
.light-close
    width: 45px
    height: 45px
    background: url(../img/icon_close.svg) no-repeat center center/contain
    +position(0,-55px,null,null,1)
    +tcursor
    &:hover
        transform: rotate(90deg)
.lg-star
    width: 155px
    height: 113px
    background: url(../img/star3.svg) no-repeat center center/contain
    position: absolute
.lg-star.star1
    top: 15px
    left: 15px
.lg-star.star2
    top: 15px
    right: 15px
    transform: rotateY(180deg)
.lg-star.star3
    bottom: 15px
    right: 15px
    transform: rotateX(180deg) rotateY(180deg)
.lg-star.star4
    bottom: 15px
    left: 15px
    transform: rotateX(180deg)
.lg-sun
    width: 170px
    height: 84px
    background: url(../img/sun.svg) no-repeat center center/contain
    +position(null,null,9px,50%,1)
    transform: translateX(-50%)
.lightbox-area
    padding: 60px 20px 80px
    border-radius: 30px
    position: relative
    background: #fff
    overflow: hidden
    // background: #FFE2AD
    &:before,&:after
        content: ''
        display: block
        position: absolute
    &:before
        width: calc(100% - 20px)
        height: calc(100% - 20px)
        border: 1px solid #e1b674
        border-radius: 30px
        top: 9px
        left: 9px
    &:after
        width: 100%
        height: 100%
        top: 0
        left: 0
        border-radius: 30px
        +light-bg
        z-index: 1
.lightbox-tit
    font-size: 28px
    color: #6A4A3B
    font-weight: 700
    text-align: center
    margin: 0 0 30px
    position: relative
    z-index: 2
.light-cont
    max-width: 550px
    margin: 0 auto
    padding: 30px
    border: 1px solid #fff
    border-radius: 5px
    background: rgba(#F4E7D0,0.6)
    position: relative
    z-index: 2
.submit-btn
    width: 300px
    position: relative
    input
        opacity: 0
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
.privacy-lightbox
    padding-top: 25px
    .lightbox-tit
        font-size: 18px
        color: #403D39
        font-weight: 600
        margin: 0 0 10px
    .lightbox-tit.result
        padding: 30px 0 70px
        margin: 0
    .light-cont
        padding: 30px 10px 30px 30px
.privacy-logo
    width: 140px
    margin: 0 auto 10px
    position: relative
    z-index: 2
    img
        width: 100%
.privacy-info
    height: 300px//560px
    overflow: hidden
    p
        font-size: 12px
        line-height: 1.6
        color: #333
        margin: 0 0 25px
        &:last-child
            margin: 0

.main-area
    padding: 30px
    position: relative
    background: url(../img/bg_ind.jpg) no-repeat center top/cover
    overflow: hidden
.main-cont
    min-height: 1565px
    border: 2.5px solid #E8C489
    +flex($sb,$str)
    position: relative
    z-index: 2
.pillar
    width: 250px
    position: relative
    z-index: 2
    img
        width: 100%
    .pillar-center
        height: calc(100% - 799px)//800
.flower
    width: 390px
    position: absolute
    bottom: 0
    z-index: 2
    img
        width: 100%
.flower.left
    left: 0
.flower.right
    right: 0
    transform: rotateY(180deg)
.pillar.left
    .pillar-center
        background: url(../img/pillar_l_center.png) repeat-y center top/contain
    // .flower
    //     left: 0
.pillar.right
    .pillar-center
        background: url(../img/pillar_r_center.png) repeat-y center top/contain
    // .flower
    //     right: 0
    //     transform: rotateY(180deg)
.pillar-coner.bot
    transform: rotateX(180deg) translateY(1px)
.main
    width: calc(100% - 500px)
    padding-top: 50px
    +flexs($c,$flex-s)
    .line
        max-width: 370px
        img
            width: 100%
.logo
    width: 450px
    margin: 0 auto 50px
    img
        width: 100%
.slogan
    font-size: 22px
    line-height: 1.6
    color: #FFEDCF
    letter-spacing: 2px
    text-shadow: 0 2px 20px rgba(#FFEDCF,50%)
    width: 100%
    text-align: center
    margin: 0 0 30px
.info-txt
    color: #E0E0E0
    line-height: 1.6
    letter-spacing: 2px
    text-shadow: 0 2px 30px #002253
    width: 100%
    text-align: center
    padding: 20px
    // margin: 0 0 60px
.arrow-box
    width: 100%
    margin: 0 0 10px
    .arrow
        width: 12px
        margin: 0 auto
        img
            width: 100%
.card-area
    width: 390px
    position: relative
.card-cont
    width: 100%
    height: 100%
    text-align: center
    padding: 75px 40px
    +position(50%,null,null,50%,4)
    transform: translate(-50%,-50%)
    p
        color: #FCFFE8
        line-height: 1.6
        letter-spacing: 2px
        margin: 0 0 60px
.name-area
    margin: 0 0 40px
.name-title
    font-size: 22px
    line-height: 1
    color: #FFEDCF
    margin: 0 0 10px
.name-box
    position: relative
    &:after
        content: ''
        display: block
        width: 100%
        height: 2px
        background: #000
        +grad-yellow
.name-input
    font-size: 18px
    color: #FFEDCF
    line-height: 1.7
    width: 100%
    padding: 5px
    text-align: center
    background: none
    box-sizing: border-box
    &::placeholder
        color: rgba(#fff,0.5)
.privacy-check-area
    margin: 0 0 60px
.privacy-check-box
    +flex($c,$c)
    input
        width: 0
        height: 0
        opacity: 0
    .note
        font-size: 14px
        color: #FCFFE8
    span
        display: inline-block
        border-bottom: 1px solid #FCFFE8
        +tcursor
        &:hover
            color: darken(#FCFFE8,10%)
            border-color: darken(#FCFFE8,10%)
.pri-check
    width: 14px
    height: 14px
    margin-right: 5px
    border: 2px solid #FFC165
    border-radius: 50%
    background: #FCFFE8
input#privacy[type="checkbox"]:checked + .pri-check::after
    content: ''
    width: 10px
    height: 8px
    background: url(../img/check.svg) no-repeat center center/contain
    transform: translateY(1px)
    display: block
.start-btn
    width: 210px
    margin: 0 auto
    +tcursor
    &:hover
        opacity: 0.8
    img
        width: 100%
.card-front
    position: relative
    z-index: 3
    img
        width: 100%
.card-bk
    width: 100%
    height: 100%
    +position(0,null,null,0,2)
    transform: rotate(-5deg)
    img
        +imgfull(1)

.character-run-area
    width: 1600px
    white-space: nowrap
    overflow: hidden
    +position(null,null,200px,50%,1)
    transform: translateX(-50%)
.character-run-box
    width: 100%
    display: inline-block
    img
        width: 100%
//=== 問題區域 ===
.page-area
    // min-height: 2130px
    position: relative
    background: url(../img/bg_top.png) no-repeat center top/contain, url(../img/bg_page.jpg) no-repeat center top/contain, url(../img/bg_page2.jpg) repeat-y center top/contain
    // display: none
.page-logo
    // padding-top: 30px
    width: 10%
    +position(1.5%,null,null,13%,1)
    img
        width: 100%
//= 進度條 =
.question-cont
    padding: 220px 7% 100px
    display: none
.progress-area
    width: 400px
    margin: 0 auto 80px
.progress-tit
    font-size: 20px
    margin: 0 0 30px
    text-align: center
    +flex($c,$c)
    .tit
        color: #FFF7E1
        margin-right: 10px
    .cont
        color: #E5CFA6
.progress-box
    padding: 5px
    border-radius: 25px
    border: 2px solid #FFF9E6
.progress
    height: 12px
    width: 10%
    border-radius: 25px
    +grad-progress
.question-list-cont
    display: none
// .progress.part1
//     width: 10%
// .progress.part2
//     width: 20%
// .progress.part3
//     width: 30%
// .progress.part4
//     width: 40%
// .progress.part5
//     width: 50%
// .progress.part6
//     width: 60%
// .progress.part7
//     width: 70%
// .progress.part8
//     width: 80%
// .progress.part9
//     width: 90%
// .progress.part10
//     width: 100%
.question-list
    width: 1000px
    margin: 0 auto 20px
.question-box.act
    opacity: 1
    &:before
        display: none
.question-box
    padding: 40px 0
    position: relative
    opacity: 0.4
    transition: .3s
    .line
        width: 100%
        height: 1px
        background: #EAD8B4
        opacity: 0.5
        +position(0,null,null,0,1)
        &:before,&:after
            content: ''
            display: block
            width: 5px
            height: 5px
            border-radius: 50%
            background: #EAD8B4
            position: absolute
            top: 50%
            transform: translateY(-50%)
        &:before
            left: -3px
        &:after
            right: -3px
    .tit
        font-size: 26px
        color: #eee
        font-weight: 700
        letter-spacing: 0.03em
        text-align: center
        margin: 0 0 35px
    &:before
        content: ''
        display: block
        width: 100%
        height: 100%
        +position(0,null,null,0,3)
.question-point-box
    +flex($c,$c)
    .txt
        font-size: 18px
        margin: 0 6px
    .left
        color: #F1C55B
        border-color: #F1C55B
    .right
        color: #67A5A3
        border-color: #67A5A3
.question-point
    +flex($c,$c)
.point-box
    margin: 0 6px
    position: relative
    input
        width: 100%
        height: 100%
        +position(0,null,null,0,2)
    input[type="radio"]:checked + .point::after
        content: ''
        display: block
        width: 35px
        height: 35px
        border-radius: 50%
        background: #828749
        +position(50%,null,null,50%,1)
        transform: translate(-50%,-50%)
    input[type="radio"]:checked + .point.left::after
        background: #F1C55B
    input[type="radio"]:checked + .point.right::after
        background: #67A5A3
    input[type="radio"]:checked + .point.small::after
        width: 45px
        height: 45px
    input[type="radio"]:checked + .point.middle::after
        width: 55px
        height: 55px
    input[type="radio"]:checked + .point.big::after
        width: 75px
        height: 75px
.point
    width: 50px
    height: 50px
    border: 3px solid #828749
    border-radius: 50%
    position: relative
.point.big
    width: 90px
    height: 90px
.point.middle
    width: 70px
    height: 70px
.point.small
    width: 60px
    height: 60px
.btn-box
    width: 220px
    margin: 0 auto
    +tcursor
    &:hover
        opacity: 0.8
    img
        width: 100%
// .btn-box
//     position: relative
//     &:before
//         content: ''
//         display: block
//         width: 100%
//         height: 100%
//         z-index: 2
.btn-box.off
    opacity: 0.5

//=== 結果頁 ===
.result-cont
    padding: 26% 7% 100px
    // display: none
.result-paper-area
    width: 1000px
    margin: 0 auto 200px
    position: relative
    &:last-child
        margin-bottom: 50px
.result-paper-page
    margin-bottom: 400px
    &:last-child
        margin-bottom: 200px
.result-paper-cont
    padding: 20px
    position: relative
    background: url(../img/bg_paper_center.png) repeat-y top center/contain
    // &:before,&:after
    //     content: ''
    //     display: block
    .page-border
        width: 100%
        left: 0
        position: absolute
        z-index: 2
    .page-border.top
        padding-bottom: 25.1%
        bottom: 90%
        background: url(../img/bg_paper_top.png) no-repeat top center/contain
    .page-border.bot
        padding-bottom: 17.1%
        // margin: -5% 0 0
        top: 95%
        background: url(../img/bg_paper_bot.png) no-repeat top center/contain
    .star
        width: 135px
        height: 156px
        background: url(../img/star.png) no-repeat center center/contain
        position: absolute
        left: 50%
        transform: translateX(-50%)
        z-index: 3
    .star.top
        bottom: calc(100% - 120px)
    .star.bot
        top: calc(100% - 100px)
    .coner
        width: 140px
        padding-bottom: 140px
        background: url(../img/corner_deco.svg) no-repeat center center/contain
        position: absolute
        top: 0
        z-index: 3
    .coner1
        left: 20px
    .coner2
        right: 20px
        transform: rotateY(180deg)
.result-paper-info-cont
    position: relative
    z-index: 3
.circle-tit-box
    margin: 0 0 35px
    text-align: center
    +flex($c,$c)
    span
        color: #fff
        font-size: 30px
        line-height: 70px
        width: 70px
        height: 70px
        margin: 0 10px
        border-radius: 50%
        display: inline-block
        background: #A18C75
.result-name-box
    font-size: 40px
    color: #62482B
    margin: 0 0 45px
    +flex($c,$c)
    .name
        font-weight: 400
    .txt
        font-weight: 300
        margin: 0 30px
    .result
        font-weight: 700

.result-info-area
    max-width: 870px
    margin: 0 auto
    +flex($sb,$c)
.result-info-card-area
    max-width: 285px
    padding: 2px
    border-radius: 10px
    position: relative
    &:before,&:after
        content: ''
        display: block
        width: 100%
    &:before
        height: 100%
        border-radius: 10px
        +card-border
        +position(0,null,null,0,1)
    &:after
        padding-bottom: 17%
        top: 98.5%
        background: url(../img/card_shadow.svg) no-repeat center center/contain
        +position(null,null,-30px,0,1)
        transform: rotateX(180deg)
.result-info-card-img
    padding: 8px
    border-radius: 10px
    background: #F9F8F3
    overflow: hidden
    position: relative
    z-index: 2
    .img-box
        max-width: 265px
        max-height: 430px
        border-radius: 10px
        overflow: hidden
        img
            width: 100%
            border-radius: 10px
            object-fit: cover
.result-info-cube-area
    width: calc(100% - 305px)
    +flex($sb,$str)
.result-info-cube-box
    color: #62482B
    text-align: center
    width: calc((100% - 20px)/2)
    padding: 20px 10px
    margin-bottom: 25px
    border: 1px solid #DFD4C6
    border-radius: 10px
    background: rgba(#fff,0.6)
    .tit
        font-size: 22px
        font-weight: 700
        padding: 25px 10px
        margin: 0 0 25px
        position: relative
        letter-spacing: 0.15em
        &:after
            content: ''
            display: block
            width: 140px
            border-top: 1px dashed #A18C75
            +position(null,null,0,50%,1)
            transform: translateX(-50%)
    .cont
        font-size: 18px
        line-height: 1.5
        padding: 0 20px
.result-info-cube-en-box
    +flex($sb,$c)
    .line
        width: calc((100% - 120px)/2)
        height: 1px
        background: #A18C75
        position: relative
        &:after
            content: ''
            display: block
            width: 5px
            height: 5px
            border-radius: 50%
            background: #A18C75
            position: absolute
            top: 50%
            transform: translateY(-50%)
    .line.right
        &:after
            right: 0
.result-info-cube-box.bot
    border-color: rgba(#A18C75,0.3)
    background: rgba(#FFF8ED,0.6)
    margin-bottom: 0
    .tit
        &:after
            width: 160px
.result-info-overview-area
    width: 100%
    margin: 20px 0 0
    .result-info-cube-box
        width: 100%
        position: relative
        z-index: 1
        .tit
            &:after
                width: 120px
        .cont
            text-align: left
.more-btn
    width: 270px
    margin: 30px auto 0
    +tcursor
    &:hover
        opacity: 0.8
    img
        width: 100%

.social-area
    width: 1000px
    text-align: center
    margin: 200px auto 0
    padding: 20px
    border: 1px solid #FFEDCF
    border-radius: 5px
    background: rgba(#fff,0.1)
    position: relative
    &:before
        content: ''
        display: block
        width: calc(100% - 10px)
        height: calc(100% - 10px)
        border: 1px solid #FFEDCF
        border-radius: 5px
        +position(5px,null,null,5px,1)
    .tit
        font-size: 20px
        color: #FFEDCF
        text-align: center
        margin: 0 0 20px
        display: inline-block
        position: relative
        z-index: 2
        &:before,&:after
            content: ''
            display: block
            width: 36px
            height: 26px
            background: url(../img/star_s.svg) no-repeat center center/contain
            position: absolute
        &:before
            top: 0
            left: -50px
            transform: rotateX(180deg)
        &:after
            right: -50px
            bottom: -30px
.social-box
    +flex($c,$c)
    position: relative
    z-index: 2
.social-btn
    display: inline-block
    &:first-child
        margin-right: 35px
    &:hover
        opacity: 0.8


footer
    font-size: 14px
    color: #D9DBE2
    text-align: center
    width: 80%
    +position(null,null,30px,50%,1)
    transform: translateX(-50%)

//- 父層 display: flex
//- ||______|     |
//- |    |_______|| -> RWD往下擠可設定 flex-grow: 1
.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

//== 編輯器 ==
.edit-area
    p
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
    strong
        font-weight: bold
    em
        font-style: italic
    h1
        font-size: 2em
        margin-block-start: 0.67em
        margin-block-end: 0.67em
    h2
        font-size: 1.5em
        margin-block-start: 0.83em
        margin-block-end: 0.83em
    h3
        font-size: 1.17em
        margin-block-start: 1em
        margin-block-end: 1em
    h4
        margin-block-start: 1.33em
        margin-block-end: 1.33em
    h5
        font-size: 0.83em
        margin-block-start: 1.67em
        margin-block-end: 1.67em
    h6
        font-size: 0.67em
        margin-block-start: 2.33em
        margin-block-end: 2.33em
    h1,h2,h3,h4,h5,h6
        font-weight: normal
        line-height: 1.2
        display: block
        margin-inline-start: 0px
        margin-inline-end: 0px
    ol
        display: block
        list-style-type: decimal
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    ul
        display: block
        list-style-type: disc
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    li
        display: list-item
        text-align: -webkit-match-parent
    img
        max-width: 100%
        margin: 0 auto !important
        height: auto !important
    blockquote
        font-style: italic
        // font-family: Georgia, Times, "Times New Roman", serif
        padding: 2px 8px 2px 20px
        border-width: 0
        border-left: 5px solid #ccc
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 40px
        margin-inline-end: 40px
    iframe
        width: 100%

//== 自定義滾軸設定 ==
//= 側邊文字和滾動條距離 =
.mCSB_inside>.mCSB_container
    margin-right: 20px
//= 滾動bar背景顏色 =
.mCSB_scrollTools .mCSB_draggerRail
    width: 6px
    background: rgba(#fff,0.2)
//= 滾動bar顏色 =
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    width: 6px
    background: #E5D28E
    &:hover
        background: #E5D28E
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
    background: #E5D28E

//===== css 動畫 =====
.loadin-txt
    animation: load 1.5s infinite ease-in-out
@keyframes load
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

//RWD 手機版css 
@import m_sty