head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- 設定給手機device用
    meta(name="viewport", content="width=device-width,initial-scale=1.0, user-scalable=no")
    meta(name="title" content="Unlock Wanderland - 漫遊之島")
    meta(name="description" content="這是我的塔羅人格，不知跟大家認識的我一樣嗎？請你也趕快測試看看你的吧！」 歡迎前往 #漫遊之島")
    meta(name="Copyright" content="©WHITENIGHT 2023")
    //- FB分享設定
    meta(property="og:title" content="Unlock Wanderland - 漫遊之島")
    meta(property="og:site_name" content="Unlock Wanderland - 漫遊之島")
    meta(property="og:url" content="https://unlockwanderland.com/")
    meta(property="og:description" content="這是我的塔羅人格，不知跟大家認識的我一樣嗎？請你也趕快測試看看你的吧！」 歡迎前往 #漫遊之島")
    meta(property="og:image" content="img/fb_share.jpg")
    meta(property="og:type" content="website")
    //- https://developers.facebook.com/tools/debug (Facebook測試的og屬性的地方)
    
    //- 取消 safari 數字判斷電話
    meta(name="format-detection" content="telephone=no")

    title Unlock Wanderland - 漫遊之島
    //- 頁籤icon
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    //- JS
    //- script(src="js/jquery-1.11.0.min.js")
    script(src="js/jquery-3.1.1.min.js")
    //- 驗證
    //- script(src="js/jquery.validate.min.js")
    //- script(src="js/additional-methods.min.js")
    //- script(src="js/messages_zh_TW.js")
    //- 輪播swiper
    //- script(src="js/swiper.min.js")
    //- 自定義滾輪
    script(src="js/jquery.mCustomScrollbar.concat.min.js")
    //- 日期選擇器
    //- script(src="js/datepicker.min.js")
    //- script(src="js/i18n/datepicker.en.js")
    //- script(src="js/i18n/datepicker.zh.js")
    //- 基本共用功能
    //- script(src="js/common.js")

    //- CSS
    //- FONT文字
    //- link(rel="stylesheet", href="css/all.min.css")
    //- 漢堡CSS https://jonsuh.com/hamburgers/
    //- link(rel="stylesheet", href="css/hamburgers.min.css")
    //- 滾輪自定義
    link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
    //- swiper
    //- link(rel="stylesheet", href="css/swiper.min.css")
    //- 日期選取器
    //- link(rel="stylesheet", href="css/datepicker.min.css")

    link(rel="stylesheet", href="css/sty.css")
    //- link(rel="stylesheet", href="../css/pugnote.css")
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '512478240983171');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=512478240983171&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->