//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

mixin tit(data)
    .tit-blur-area(class=data.isBtn?"tit":undefined)
        img(src="img/"+data.img, alt="")
        .tit-blur-box
            .tit-blur
                .tit #{data.tit}
                .sup !{data.sup}

mixin questionBox(data)
    .question-box(id="questionBox"+data.id)
        .line
        .tit #{data.id}. 
            span(id="question"+data.id) #{data.tit}
        .question-point-box
            .txt.left 完全不同意
            .question-point(id="questionPoint"+data.id)
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_1" value="1")
                    .point.big.left
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_2" value="2")
                    .point.middle.left
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_3" value="3")
                    .point.small.left
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_4" value="4")
                    .point.center
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_5" value="5")
                    .point.small.right
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_6" value="6")
                    .point.middle.right
                .point-box
                    input(type="radio" name="qArea"+data.id id="q"+data.id+"_7" value="7")
                    .point.big.right
            .txt.right 完全同意