@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:200");
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
  transition: 0.2s;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  font-size: 16px;
  color: #555;
  background: #0c2c60;
}

input, textarea, select {
  font-family: "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  color: #555;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box-area {
  width: 100%;
  margin: 0 0 5px;
  text-align: left;
}
.input-box-area label {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}
.input-box-area p {
  color: #fff;
  line-height: 40px;
  display: block;
}

.input-box {
  margin: 0 0 30px;
  position: relative;
}
.input-box > label {
  font-size: 18px;
  color: #6A4A3B;
  margin: 0 0 5px;
  font-weight: 700;
  display: inline-block;
}
.input-box .note {
  font-size: 14px;
  margin-left: 10px;
}
.input-box label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0;
  background: #e53b57;
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 2;
  transform: translateY(-50%);
}
.input-box:last-child {
  margin: 0;
}

.input-sty {
  font-size: 18px;
  color: #555;
  width: 100%;
  line-height: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
.input-sty::placeholder {
  color: rgba(85, 85, 85, 0.8);
}

.select-sty {
  font-size: 18px;
  color: #555;
  width: 100%;
  line-height: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  background: url(../img/sel_arr.svg) no-repeat right 15px center rgba(255, 255, 255, 0.5);
}

.label-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item-wrap label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  background: #e53b57;
}

.input-tit {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}

.label-item {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item span {
  font-size: 86%;
  margin: 0 0 0 5px;
}

.radio-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.radio-group {
  margin-right: 15px;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.radio-group span {
  font-size: 18px;
  display: inline-block;
}

.radio-box {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  box-sizing: border-box;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #555;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

input[type=radio] {
  opacity: 0;
}

.check-box {
  width: 13px;
  height: 13px;
  border: 2px solid #009aff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-size: 15px;
  color: #009aff;
  transform: translateY(-1px);
  display: block;
}

.input-sel {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #329a04;
}
.switch input:checked + .slider:after {
  content: "on";
  right: 35px;
}
.switch input:focus + .slider {
  box-shadow: 0 0 5px #111111;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50px;
  padding: 3px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 30px;
  left: 3px;
  bottom: 3px;
}
.slider:after {
  position: absolute;
  content: "off";
  color: #ffffff;
  line-height: 25px;
  padding: 0 0 0 5px;
  right: 15px;
}

input[id=userName]:-webkit-autofill, input[id=userName]:-webkit-autofill:hover, input[id=userName]:-webkit-autofill:focus, input[id=userName]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #FFEDCF;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.5) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #555;
}

.pasw {
  -webkit-text-security: disc;
}

.btn-area {
  text-align: center;
  margin: 15px 0 0;
}

.btn {
  font-size: 125%;
  color: #fff;
  font-weight: 500;
  width: 100px;
  padding: 5px 10px;
  background: #f9b601;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  position: relative;
}
.submit-btn input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.sub-filter-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.sub-filter-btn input {
  position: absolute;
}
.sub-filter-btn label {
  color: #d89f1f;
  border-radius: 10px;
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.sub-filter-btn label:hover {
  color: #fff;
}
.sub-filter-btn input[type=radio]:checked + label {
  color: #fff;
  background: #d89f1f;
}

.check-box2 {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border: 2px solid #d1c0a5;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box2::after {
  content: "\f00c";
  font-size: 15px;
  color: #d1c0a5;
  transition: 0.2s;
}

.check-box-c {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

input[type=radio]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ex-inp-wrap {
  margin: 10px 20px;
  border: 1px solid #009aff;
  border-radius: 5px;
}

.ex-tit {
  font-size: 18px;
  color: #fff;
  padding: 5px;
  background: #009aff;
}

.ex-box {
  padding: 5px;
}
.ex-box p {
  margin: 5px 0;
}
.ex-box i {
  color: #009aff;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}

.lightbox-area-bg {
  width: 700px;
  padding: 5px 0;
  border-radius: 30px;
  background: -webkit-linear-gradient(145deg, #EBCA91, #DAAB62, #EDCF95, #CBAD7E);
  background: -o-linear-gradient(145deg, #EBCA91, #DAAB62, #EDCF95, #CBAD7E);
  background: -moz-linear-gradient(145deg, #EBCA91, #DAAB62, #EDCF95, #CBAD7E);
  background: linear-gradient(145deg, #EBCA91, #DAAB62, #EDCF95, #CBAD7E);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: none;
}

.light-close {
  width: 45px;
  height: 45px;
  background: url(../img/icon_close.svg) no-repeat center center/contain;
  position: absolute;
  top: 0;
  right: -55px;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}
.light-close:hover {
  transform: rotate(90deg);
}

.lg-star {
  width: 155px;
  height: 113px;
  background: url(../img/star3.svg) no-repeat center center/contain;
  position: absolute;
}

.lg-star.star1 {
  top: 15px;
  left: 15px;
}

.lg-star.star2 {
  top: 15px;
  right: 15px;
  transform: rotateY(180deg);
}

.lg-star.star3 {
  bottom: 15px;
  right: 15px;
  transform: rotateX(180deg) rotateY(180deg);
}

.lg-star.star4 {
  bottom: 15px;
  left: 15px;
  transform: rotateX(180deg);
}

.lg-sun {
  width: 170px;
  height: 84px;
  background: url(../img/sun.svg) no-repeat center center/contain;
  position: absolute;
  bottom: 9px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.lightbox-area {
  padding: 60px 20px 80px;
  border-radius: 30px;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.lightbox-area:before, .lightbox-area:after {
  content: "";
  display: block;
  position: absolute;
}
.lightbox-area:before {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #e1b674;
  border-radius: 30px;
  top: 9px;
  left: 9px;
}
.lightbox-area:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  background: -webkit-linear-gradient(circle at center, rgba(255, 226, 173, 0), rgba(255, 226, 173, 0.5));
  background: -o-linear-gradient(circle at center, rgba(255, 226, 173, 0), rgba(255, 226, 173, 0.5));
  background: -moz-linear-gradient(circle at center, rgba(255, 226, 173, 0), rgba(255, 226, 173, 0.5));
  background: radial-gradient(circle at center, rgba(255, 226, 173, 0), rgba(255, 226, 173, 0.5));
  z-index: 1;
}

.lightbox-tit {
  font-size: 28px;
  color: #6A4A3B;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px;
  position: relative;
  z-index: 2;
}

.light-cont {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(244, 231, 208, 0.6);
  position: relative;
  z-index: 2;
}

.submit-btn {
  width: 300px;
  position: relative;
}
.submit-btn input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.privacy-lightbox {
  padding-top: 25px;
}
.privacy-lightbox .lightbox-tit {
  font-size: 18px;
  color: #403D39;
  font-weight: 600;
  margin: 0 0 10px;
}
.privacy-lightbox .lightbox-tit.result {
  padding: 30px 0 70px;
  margin: 0;
}
.privacy-lightbox .light-cont {
  padding: 30px 10px 30px 30px;
}

.privacy-logo {
  width: 140px;
  margin: 0 auto 10px;
  position: relative;
  z-index: 2;
}
.privacy-logo img {
  width: 100%;
}

.privacy-info {
  height: 300px;
  overflow: hidden;
}
.privacy-info p {
  font-size: 12px;
  line-height: 1.6;
  color: #333;
  margin: 0 0 25px;
}
.privacy-info p:last-child {
  margin: 0;
}

.main-area {
  padding: 30px;
  position: relative;
  background: url(../img/bg_ind.jpg) no-repeat center top/cover;
  overflow: hidden;
}

.main-cont {
  min-height: 1565px;
  border: 2.5px solid #E8C489;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  z-index: 2;
}

.pillar {
  width: 250px;
  position: relative;
  z-index: 2;
}
.pillar img {
  width: 100%;
}
.pillar .pillar-center {
  height: calc(100% - 799px);
}

.flower {
  width: 390px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.flower img {
  width: 100%;
}

.flower.left {
  left: 0;
}

.flower.right {
  right: 0;
  transform: rotateY(180deg);
}

.pillar.left .pillar-center {
  background: url(../img/pillar_l_center.png) repeat-y center top/contain;
}

.pillar.right .pillar-center {
  background: url(../img/pillar_r_center.png) repeat-y center top/contain;
}

.pillar-coner.bot {
  transform: rotateX(180deg) translateY(1px);
}

.main {
  width: calc(100% - 500px);
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.main .line {
  max-width: 370px;
}
.main .line img {
  width: 100%;
}

.logo {
  width: 450px;
  margin: 0 auto 50px;
}
.logo img {
  width: 100%;
}

.slogan {
  font-size: 22px;
  line-height: 1.6;
  color: #FFEDCF;
  letter-spacing: 2px;
  text-shadow: 0 2px 20px rgba(255, 237, 207, 0.5);
  width: 100%;
  text-align: center;
  margin: 0 0 30px;
}

.info-txt {
  color: #E0E0E0;
  line-height: 1.6;
  letter-spacing: 2px;
  text-shadow: 0 2px 30px #002253;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.arrow-box {
  width: 100%;
  margin: 0 0 10px;
}
.arrow-box .arrow {
  width: 12px;
  margin: 0 auto;
}
.arrow-box .arrow img {
  width: 100%;
}

.card-area {
  width: 390px;
  position: relative;
}

.card-cont {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 75px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.card-cont p {
  color: #FCFFE8;
  line-height: 1.6;
  letter-spacing: 2px;
  margin: 0 0 60px;
}

.name-area {
  margin: 0 0 40px;
}

.name-title {
  font-size: 22px;
  line-height: 1;
  color: #FFEDCF;
  margin: 0 0 10px;
}

.name-box {
  position: relative;
}
.name-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  background: -webkit-linear-gradient(90deg, rgba(255, 237, 207, 0) 0, #ffedcf 20%, #ffedcf 80%, rgba(255, 237, 207, 0) 100%);
  background: -o-linear-gradient(90deg, rgba(255, 237, 207, 0) 0, #ffedcf 20%, #ffedcf 80%, rgba(255, 237, 207, 0) 100%);
  background: -moz-linear-gradient(90deg, rgba(255, 237, 207, 0) 0, #ffedcf 20%, #ffedcf 80%, rgba(255, 237, 207, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 237, 207, 0) 0, #ffedcf 20%, #ffedcf 80%, rgba(255, 237, 207, 0) 100%);
}

.name-input {
  font-size: 18px;
  color: #FFEDCF;
  line-height: 1.7;
  width: 100%;
  padding: 5px;
  text-align: center;
  background: none;
  box-sizing: border-box;
}
.name-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.privacy-check-area {
  margin: 0 0 60px;
}

.privacy-check-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.privacy-check-box input {
  width: 0;
  height: 0;
  opacity: 0;
}
.privacy-check-box .note {
  font-size: 14px;
  color: #FCFFE8;
}
.privacy-check-box span {
  display: inline-block;
  border-bottom: 1px solid #FCFFE8;
  cursor: pointer;
  transition: 0.2s;
}
.privacy-check-box span:hover {
  color: #f5ffb5;
  border-color: #f5ffb5;
}

.pri-check {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border: 2px solid #FFC165;
  border-radius: 50%;
  background: #FCFFE8;
}

input#privacy[type=checkbox]:checked + .pri-check::after {
  content: "";
  width: 10px;
  height: 8px;
  background: url(../img/check.svg) no-repeat center center/contain;
  transform: translateY(1px);
  display: block;
}

.start-btn {
  width: 210px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
}
.start-btn:hover {
  opacity: 0.8;
}
.start-btn img {
  width: 100%;
}

.card-front {
  position: relative;
  z-index: 3;
}
.card-front img {
  width: 100%;
}

.card-bk {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(-5deg);
}
.card-bk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.character-run-area {
  width: 1600px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 200px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.character-run-box {
  width: 100%;
  display: inline-block;
}
.character-run-box img {
  width: 100%;
}

.page-area {
  position: relative;
  background: url(../img/bg_top.png) no-repeat center top/contain, url(../img/bg_page.jpg) no-repeat center top/contain, url(../img/bg_page2.jpg) repeat-y center top/contain;
}

.page-logo {
  width: 10%;
  position: absolute;
  top: 1.5%;
  left: 13%;
  z-index: 1;
}
.page-logo img {
  width: 100%;
}

.question-cont {
  padding: 220px 7% 100px;
  display: none;
}

.progress-area {
  width: 400px;
  margin: 0 auto 80px;
}

.progress-tit {
  font-size: 20px;
  margin: 0 0 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.progress-tit .tit {
  color: #FFF7E1;
  margin-right: 10px;
}
.progress-tit .cont {
  color: #E5CFA6;
}

.progress-box {
  padding: 5px;
  border-radius: 25px;
  border: 2px solid #FFF9E6;
}

.progress {
  height: 12px;
  width: 10%;
  border-radius: 25px;
  background: -webkit-linear-gradient(#EAD8B4, #FFF9E6);
  background: -o-linear-gradient(#EAD8B4, #FFF9E6);
  background: -moz-linear-gradient(#EAD8B4, #FFF9E6);
  background: linear-gradient(#EAD8B4, #FFF9E6);
}

.question-list-cont {
  display: none;
}

.question-list {
  width: 1000px;
  margin: 0 auto 20px;
}

.question-box.act {
  opacity: 1;
}
.question-box.act:before {
  display: none;
}

.question-box {
  padding: 40px 0;
  position: relative;
  opacity: 0.4;
  transition: 0.3s;
}
.question-box .line {
  width: 100%;
  height: 1px;
  background: #EAD8B4;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.question-box .line:before, .question-box .line:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #EAD8B4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.question-box .line:before {
  left: -3px;
}
.question-box .line:after {
  right: -3px;
}
.question-box .tit {
  font-size: 26px;
  color: #eee;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 35px;
}
.question-box:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.question-point-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.question-point-box .txt {
  font-size: 18px;
  margin: 0 6px;
}
.question-point-box .left {
  color: #F1C55B;
  border-color: #F1C55B;
}
.question-point-box .right {
  color: #67A5A3;
  border-color: #67A5A3;
}

.question-point {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.point-box {
  margin: 0 6px;
  position: relative;
}
.point-box input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.point-box input[type=radio]:checked + .point::after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #828749;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.point-box input[type=radio]:checked + .point.left::after {
  background: #F1C55B;
}
.point-box input[type=radio]:checked + .point.right::after {
  background: #67A5A3;
}
.point-box input[type=radio]:checked + .point.small::after {
  width: 45px;
  height: 45px;
}
.point-box input[type=radio]:checked + .point.middle::after {
  width: 55px;
  height: 55px;
}
.point-box input[type=radio]:checked + .point.big::after {
  width: 75px;
  height: 75px;
}

.point {
  width: 50px;
  height: 50px;
  border: 3px solid #828749;
  border-radius: 50%;
  position: relative;
}

.point.big {
  width: 90px;
  height: 90px;
}

.point.middle {
  width: 70px;
  height: 70px;
}

.point.small {
  width: 60px;
  height: 60px;
}

.btn-box {
  width: 220px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
}
.btn-box:hover {
  opacity: 0.8;
}
.btn-box img {
  width: 100%;
}

.btn-box.off {
  opacity: 0.5;
}

.result-cont {
  padding: 26% 7% 100px;
}

.result-paper-area {
  width: 1000px;
  margin: 0 auto 200px;
  position: relative;
}
.result-paper-area:last-child {
  margin-bottom: 50px;
}

.result-paper-page {
  margin-bottom: 400px;
}
.result-paper-page:last-child {
  margin-bottom: 200px;
}

.result-paper-cont {
  padding: 20px;
  position: relative;
  background: url(../img/bg_paper_center.png) repeat-y top center/contain;
}
.result-paper-cont .page-border {
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 2;
}
.result-paper-cont .page-border.top {
  padding-bottom: 25.1%;
  bottom: 90%;
  background: url(../img/bg_paper_top.png) no-repeat top center/contain;
}
.result-paper-cont .page-border.bot {
  padding-bottom: 17.1%;
  top: 95%;
  background: url(../img/bg_paper_bot.png) no-repeat top center/contain;
}
.result-paper-cont .star {
  width: 135px;
  height: 156px;
  background: url(../img/star.png) no-repeat center center/contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.result-paper-cont .star.top {
  bottom: calc(100% - 120px);
}
.result-paper-cont .star.bot {
  top: calc(100% - 100px);
}
.result-paper-cont .coner {
  width: 140px;
  padding-bottom: 140px;
  background: url(../img/corner_deco.svg) no-repeat center center/contain;
  position: absolute;
  top: 0;
  z-index: 3;
}
.result-paper-cont .coner1 {
  left: 20px;
}
.result-paper-cont .coner2 {
  right: 20px;
  transform: rotateY(180deg);
}

.result-paper-info-cont {
  position: relative;
  z-index: 3;
}

.circle-tit-box {
  margin: 0 0 35px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.circle-tit-box span {
  color: #fff;
  font-size: 30px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  border-radius: 50%;
  display: inline-block;
  background: #A18C75;
}

.result-name-box {
  font-size: 40px;
  color: #62482B;
  margin: 0 0 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.result-name-box .name {
  font-weight: 400;
}
.result-name-box .txt {
  font-weight: 300;
  margin: 0 30px;
}
.result-name-box .result {
  font-weight: 700;
}

.result-info-area {
  max-width: 870px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.result-info-card-area {
  max-width: 285px;
  padding: 2px;
  border-radius: 10px;
  position: relative;
}
.result-info-card-area:before, .result-info-card-area:after {
  content: "";
  display: block;
  width: 100%;
}
.result-info-card-area:before {
  height: 100%;
  border-radius: 10px;
  background: -webkit-linear-gradient(145deg, #E0B672, #FFE0AA, #E0B672);
  background: -o-linear-gradient(145deg, #E0B672, #FFE0AA, #E0B672);
  background: -moz-linear-gradient(145deg, #E0B672, #FFE0AA, #E0B672);
  background: linear-gradient(145deg, #E0B672, #FFE0AA, #E0B672);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.result-info-card-area:after {
  padding-bottom: 17%;
  top: 98.5%;
  background: url(../img/card_shadow.svg) no-repeat center center/contain;
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: 1;
  transform: rotateX(180deg);
}

.result-info-card-img {
  padding: 8px;
  border-radius: 10px;
  background: #F9F8F3;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.result-info-card-img .img-box {
  max-width: 265px;
  max-height: 430px;
  border-radius: 10px;
  overflow: hidden;
}
.result-info-card-img .img-box img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.result-info-cube-area {
  width: calc(100% - 305px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.result-info-cube-box {
  color: #62482B;
  text-align: center;
  width: calc((100% - 20px) / 2);
  padding: 20px 10px;
  margin-bottom: 25px;
  border: 1px solid #DFD4C6;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}
.result-info-cube-box .tit {
  font-size: 22px;
  font-weight: 700;
  padding: 25px 10px;
  margin: 0 0 25px;
  position: relative;
  letter-spacing: 0.15em;
}
.result-info-cube-box .tit:after {
  content: "";
  display: block;
  width: 140px;
  border-top: 1px dashed #A18C75;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.result-info-cube-box .cont {
  font-size: 18px;
  line-height: 1.5;
  padding: 0 20px;
}

.result-info-cube-en-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.result-info-cube-en-box .line {
  width: calc((100% - 120px) / 2);
  height: 1px;
  background: #A18C75;
  position: relative;
}
.result-info-cube-en-box .line:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #A18C75;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.result-info-cube-en-box .line.right:after {
  right: 0;
}

.result-info-cube-box.bot {
  border-color: rgba(161, 140, 117, 0.3);
  background: rgba(255, 248, 237, 0.6);
  margin-bottom: 0;
}
.result-info-cube-box.bot .tit:after {
  width: 160px;
}

.result-info-overview-area {
  width: 100%;
  margin: 20px 0 0;
}
.result-info-overview-area .result-info-cube-box {
  width: 100%;
  position: relative;
  z-index: 1;
}
.result-info-overview-area .result-info-cube-box .tit:after {
  width: 120px;
}
.result-info-overview-area .result-info-cube-box .cont {
  text-align: left;
}

.more-btn {
  width: 270px;
  margin: 30px auto 0;
  cursor: pointer;
  transition: 0.2s;
}
.more-btn:hover {
  opacity: 0.8;
}
.more-btn img {
  width: 100%;
}

.social-area {
  width: 1000px;
  text-align: center;
  margin: 200px auto 0;
  padding: 20px;
  border: 1px solid #FFEDCF;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
}
.social-area:before {
  content: "";
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #FFEDCF;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}
.social-area .tit {
  font-size: 20px;
  color: #FFEDCF;
  text-align: center;
  margin: 0 0 20px;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.social-area .tit:before, .social-area .tit:after {
  content: "";
  display: block;
  width: 36px;
  height: 26px;
  background: url(../img/star_s.svg) no-repeat center center/contain;
  position: absolute;
}
.social-area .tit:before {
  top: 0;
  left: -50px;
  transform: rotateX(180deg);
}
.social-area .tit:after {
  right: -50px;
  bottom: -30px;
}

.social-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.social-btn {
  display: inline-block;
}
.social-btn:first-child {
  margin-right: 35px;
}
.social-btn:hover {
  opacity: 0.8;
}

footer {
  font-size: 14px;
  color: #D9DBE2;
  text-align: center;
  width: 80%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.test-wrap {
  width: 300px;
  height: 200px;
  margin: 10px;
  background: #ff6c6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.test-box {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}
.test-box img {
  width: 100%;
}
.test-box .t-img {
  width: 80%;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(145deg, #775729 10%, #eee33d 20%, #775729 30%) 10;
  padding: 50px;
  margin: 10px;
  display: inline-block;
  background: rgba(51, 28, 18, 0.35);
}
.border-grad p {
  background: -webkit-linear-gradient(top, #99432b, #ffaf2e 40%, #fcff96 48%, #fcffff, #fcff96 52%, #ffaf2e 60%, #99432b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.edit-area p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area strong {
  font-weight: bold;
}
.edit-area em {
  font-style: italic;
}
.edit-area h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
.edit-area h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
.edit-area h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.edit-area h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.edit-area h5 {
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
.edit-area h6 {
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}
.edit-area h1, .edit-area h2, .edit-area h3, .edit-area h4, .edit-area h5, .edit-area h6 {
  font-weight: normal;
  line-height: 1.2;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.edit-area img {
  max-width: 100%;
  margin: 0 auto !important;
  height: auto !important;
}
.edit-area blockquote {
  font-style: italic;
  padding: 2px 8px 2px 20px;
  border-width: 0;
  border-left: 5px solid #ccc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.edit-area iframe {
  width: 100%;
}

.mCSB_inside > .mCSB_container {
  margin-right: 20px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background: rgba(255, 255, 255, 0.2);
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background: #E5D28E;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #E5D28E;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #E5D28E;
}

.loadin-txt {
  animation: load 1.5s infinite ease-in-out;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .page-logo {
    width: 15%;
    top: 30px;
    left: 30px;
  }
  .question-list {
    width: calc(100% - 40px);
  }
  .result-paper-area {
    width: 100%;
  }
  .social-area {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .pillar {
    width: 125px;
  }
  .pillar .pillar-center {
    height: calc(100% - 397px);
  }
  .flower {
    width: 200px;
  }
  .main {
    width: calc(100% - 250px);
  }
  .question-point-box {
    width: 575px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .question-point-box .question-point {
    order: 2;
  }
  .question-point-box .txt {
    width: 90px;
    text-align: center;
    margin: 0 6px 10px;
  }
  .question-point-box .txt.right {
    order: 1;
  }
  .result-paper-cont .page-border.top {
    bottom: 95%;
  }
  .result-paper-cont .page-border.bot {
    top: 98%;
  }
  .result-info-card-area {
    margin: 0 auto 50px;
  }
  .result-info-cube-area {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .lightbox-area-bg {
    width: calc(100% - 120px);
  }
}
@media screen and (max-width: 767px) {
  .lightbox-area-bg {
    width: calc(100% - 30px);
  }
  .light-close {
    width: 25px;
    height: 25px;
    right: 0;
    top: -30px;
  }
  .lightbox-area {
    padding: 40px 20px 50px;
  }
  .main-area {
    padding: 20px;
  }
  .main-cont {
    min-height: auto;
  }
  .pillar {
    width: 75px;
  }
  .pillar .pillar-center {
    height: calc(100% - 237px);
  }
  .flower {
    width: 150px;
  }
  .main {
    width: calc(100% - 150px);
    padding-top: 30px;
  }
  .logo {
    width: 80%;
    margin-bottom: 30px;
  }
  .slogan {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .info-txt {
    padding: 15px 0;
  }
  .card-cont {
    height: auto;
    padding: 0 25px;
    top: 45%;
  }
  .card-cont p {
    font-size: 14px;
    margin: 0 0 30px;
    letter-spacing: 0;
  }
  .privacy-check-area {
    margin: 0 0 40px;
  }
  .name-area {
    margin: 0 0 20px;
  }
  .name-title {
    font-size: 18px;
  }
  .name-input {
    font-size: 16px;
  }
  .character-run-area {
    width: 1000px;
  }
  .page-logo {
    width: 16%;
    top: 25px;
    left: 25px;
  }
  .question-cont {
    padding: 25% 7% 100px;
  }
  .progress-area {
    width: 360px;
    margin: 0 auto 50px;
  }
  .progress-tit {
    margin: 0 0 10px;
  }
  .question-list {
    width: calc(100% - 20px);
  }
  .question-box {
    padding: 30px 0;
  }
  .question-box .tit {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .question-point-box {
    width: 351px;
  }
  .question-point-box .txt {
    font-size: 16px;
    width: auto;
    margin: 0 0 10px;
  }
  .question-point {
    margin: 0 auto;
  }
  .point-box {
    margin: 0 4px;
  }
  .point-box input[type=radio]:checked + .point::after {
    width: 15px;
    height: 15px;
  }
  .point-box input[type=radio]:checked + .point.small::after {
    width: 25px;
    height: 25px;
  }
  .point-box input[type=radio]:checked + .point.middle::after {
    width: 35px;
    height: 35px;
  }
  .point-box input[type=radio]:checked + .point.big::after {
    width: 45px;
    height: 45px;
  }
  .point {
    width: 25px;
    height: 25px;
    border: 2px solid #828749;
  }
  .point.big {
    width: 55px;
    height: 55px;
  }
  .point.middle {
    width: 45px;
    height: 45px;
  }
  .point.small {
    width: 35px;
    height: 35px;
  }
  .result-cont {
    padding-top: 35%;
  }
  .result-paper-cont .page-border.top {
    bottom: 99%;
  }
  .result-paper-cont .page-border.bot {
    top: 99%;
  }
  .result-paper-cont .coner {
    width: 23%;
    padding-bottom: 23%;
  }
  .result-paper-cont .coner1 {
    left: 10px;
  }
  .result-paper-cont .coner2 {
    right: 10px;
  }
  .result-paper-cont .star.bot {
    top: 0;
  }
  .circle-tit-box {
    margin: 0 0 25px;
  }
  .circle-tit-box span {
    font-size: 26px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
  }
  .result-name-box {
    font-size: 28px;
    margin: 0 0 35px;
  }
  .result-name-box .txt {
    margin: 0 10px;
  }
  .result-info-cube-box {
    width: 100%;
  }
  .result-info-cube-box .tit {
    font-size: 18px;
  }
  .result-info-cube-box .cont {
    font-size: 16px;
    padding: 0 10px;
  }
  .result-info-cube-box.bot {
    margin: 0 0 20px;
  }
  .result-info-overview-area {
    margin: 0;
  }
  .result-paper-page {
    margin-bottom: 300px;
  }
  .result-paper-page:last-child {
    margin-bottom: 120px;
  }
  footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .lightbox-area {
    padding: 30px 20px 50px;
  }
  .lightbox-tit {
    margin: 0 0 10px;
  }
  .light-cont {
    padding: 20px;
  }
  .privacy-lightbox .light-cont {
    padding: 20px 0px 20px 20px;
  }
  .lg-star {
    width: 100px;
    height: 73px;
  }
  .input-box {
    margin: 0 0 15px;
  }
  .input-box label {
    font-size: 16px;
  }
  .btn-box {
    width: 150px;
  }
  .main-area {
    padding: 10px;
  }
  .pillar {
    width: 50px;
  }
  .pillar .pillar-center {
    height: calc(100% - 159px);
  }
  .main {
    width: calc(100% - 100px);
  }
  .slogan {
    font-size: 16px;
    letter-spacing: 0;
  }
  .info-txt {
    font-size: 15px;
    letter-spacing: 0;
  }
  .card-cont {
    padding: 0 20px;
  }
  .card-cont p {
    margin: 0 0 15px;
  }
  .name-title {
    font-size: 16px;
  }
  .start-btn {
    width: 150px;
  }
  .character-run-area {
    bottom: 150px;
  }
  .page-logo {
    width: 18%;
    top: 10px;
    left: 10px;
  }
  .progress-area {
    width: 85%;
    margin: 0 auto 30px;
  }
  .progress-tit {
    font-size: 18px;
  }
  .question-box {
    padding: 25px 0;
  }
  .question-box .tit {
    font-size: 16px;
    margin: 0 0 20px;
  }
  .question-point-box {
    width: 302px;
  }
  .question-point-box .txt {
    font-size: 15px;
    margin: 0 0 5px;
  }
  .point-box {
    margin: 0 4.5px;
  }
  .point-box input[type=radio]:checked + .point.small::after {
    width: 20px;
    height: 20px;
  }
  .point-box input[type=radio]:checked + .point.middle::after {
    width: 25px;
    height: 25px;
  }
  .point-box input[type=radio]:checked + .point.big::after {
    width: 30px;
    height: 30px;
  }
  .point.big {
    width: 40px;
    height: 40px;
  }
  .point.middle {
    width: 35px;
    height: 35px;
  }
  .point.small {
    width: 30px;
    height: 30px;
  }
  .result-cont {
    padding-top: 40%;
  }
  .circle-tit-box span {
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .result-name-box {
    font-size: 18px;
    margin: 0 0 25px;
  }
  .result-paper-area {
    margin-bottom: 150px;
  }
  .result-paper-cont {
    padding: 20px 15px;
  }
  .result-paper-cont .star.top {
    bottom: 0;
  }
  .result-paper-cont .star.bot {
    top: 0;
  }
  .more-btn {
    width: 200px;
  }
  .social-area {
    margin: 150px 0 0;
  }
  .result-paper-page {
    margin-bottom: 250px;
  }
}
@media screen and (max-width: 414px) {
  .card-cont {
    padding: 0 10px;
    top: 47%;
  }
  .card-cont p {
    font-size: 12px;
  }
  .name-title {
    font-size: 14px;
  }
  .name-box {
    width: 95%;
    margin: 0 auto;
  }
  .character-run-area {
    bottom: 100px;
  }
  .input-sty, .select-sty {
    font-size: 16px;
    line-height: 18px;
    padding: 8px 15px;
  }
  .radio-group span {
    font-size: 16px;
  }
}
@media screen and (max-height: 700px) {
  .privacy-info {
    height: 260px;
  }
}
