include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.mask#mask
		// 瞭解更多lightbox
		.lightbox-area-bg#moreLightBox
			.light-close
			.lightbox-area
				form(action="###", method="post") 
					.lightbox-tit 填寫資料
					.light-cont
						.input-box
							label(for="name") 您的姓名
							.input
								input.input-sty(type="text" id="name" name="name" placeholder="請輸入姓名")
						.input-box#sexInputBox
							label(for="name") 性別
							.radio-area
								label(for="male").radio-group
									input#male(type="radio", name="sex" checked)
									.radio-box
									span 男
								label(for="female").radio-group
									input#female(type="radio", name="sex")
									.radio-box
									span 女
						.input-box
							label(for="age") 年齡
							.input
								select.select-sty(id="age" name="age")
									option(value="1") 20歲以下
									option(value="2") 20-30歲
									option(value="3") 31-40歲
									option(value="4") 41-50歲
									option(value="5") 50歲以上
						.input-box
							label(for="email") 聯絡Email<span class="note">(請填寫正確Email，才能收到完整測試結果報告喔)</span>
							.input
								input.input-sty(type="email" id="email" name="email" placeholder="請輸入Email")
						.btn-box.submit-btn#submitBtn
							//- input(type="submit")
							img(src="img/btn_get.png", alt="")
				.lg-star.star1
				.lg-star.star2
				.lg-star.star3
				.lg-star.star4
				.lg-sun
		//隱私權條款
		.lightbox-area-bg#privacyInfoBox
			.light-close
			.lightbox-area.privacy-lightbox
				.privacy-logo
					img(src="img/logo_p.svg", alt="")
				.lightbox-tit 隱私權保護及網站安全政策
				.light-cont
					.privacy-info
						p 漫遊之島尊重並保護您在使用網際網路時的安全及隱私保護，為了幫助您瞭解「漫遊之島線上測試網站」(以下簡稱本網站)如何保護您在使用本網站各項服務的安全、蒐集、應用、保護您所提供的個人資訊，特此向您說明本網站的隱私權保護及網站安全政策，請您詳細閱讀，以保障您的權益。
						p 一、適用範圍<br>適用於您在本網站瀏覽時，所涉及的個人資料蒐集、運用與保護，但不適用於在本網站置設之其他網站之連結，也不適用於非本網站所委託或參與管理的人員。
						p 二、資料的蒐集與使用方式<br>為了在本網站上提供您最佳的互動性服務，可能會請您提供相關個人的資料，其範圍如下：<br>(一)本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式及使用時間等。<br>(二)於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公布。<br>(三)為提供精確的服務，我們會將收集的問卷調查內容進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料。<br>(四)除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露予第三人或使用於蒐集目的以外之其他用途。
						p 三、資料之保護<br>(一)本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，如有違反保密義務者，將會受到相關的法律處分。<br>(二)如因業務需要有必要委託本網站相關單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。<br>(三)任何未經授權而企圖上載或更改本網站所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。<br>(四)網際網路資料的傳輸不能保證百分之百的安全，本網站將努力保護本網站及您個人資料的安全，部分情況下會使用通行標準的SSL保全系統，保障資料傳送的安全性。但由於資料傳輸過程牽涉您上網環境保全之良窳，我們並無法確保您傳送或接收本網站資料的安全，您須注意並承擔網路資料傳輸之風險。請您諒解此部份所造成的後果均非本網站所能控制範圍。
						p 四、網站對外的相關連結本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護及網站安全政策，您必須參考該連結網站中的隱私權保護及網站安全政策。
						p 五、Cookie之使用為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導至網站某些功能無法正常執行 。
						p 六、自我保護措施請妥善保管您的密碼及或任何個人資料，切勿將密碼、個人資料提供給任何第三人。在您完成網路申辦、取閱電子郵件、管理區功能維護等程序後，務必記得登出，若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料、信件或進入所屬機關管理區。並提醒您，您自願於網際網路上透露個人資料，均，您可能會收到他人主動提供的電子郵件。
						p 七、隱私權保護及網站安全政策之修正本網站隱私權保護及網路安全政策將因應需求隨時進行修正，以落實保障您隱私權及網路安全的立意，當修改完成時會將修正後的條款刊登於本網站上，以醒目標示提醒您前往點選閱讀。
						p 八、如果您對以上條款有任何疑問或意見，歡迎透過本網站所示之聯絡方式與我們聯絡。
				.lg-star.star1
				.lg-star.star2
				.lg-star.star3
				.lg-star.star4
				.lg-sun
		//等待寄信
		.lightbox-area-bg#waitInfoBox
			.lightbox-area.privacy-lightbox
				.privacy-logo
					img(src="img/logo_p.svg", alt="")
				.lightbox-tit.result 您的測驗結果產生中，請稍候！
				.lg-star.star1
				.lg-star.star2
				.lg-star.star3
				.lg-star.star4
				.lg-sun
		//已寄出成功
		.lightbox-area-bg#sendDoneInfoBox
			.light-close
			.lightbox-area.privacy-lightbox
				.privacy-logo
					img(src="img/logo_p.svg", alt="")
				.lightbox-tit.result 你的結果已經發送到你的信箱！
				.lg-star.star1
				.lg-star.star2
				.lg-star.star3
				.lg-star.star4
				.lg-sun
		.main-area#mainArea
			.main-cont
				.pillar.left
					//- img(src="img/pillar_l.png", alt="")
					.pillar-coner.top
						img(src="img/pillar_l_coner.png", alt="")
					.pillar-center
					.pillar-coner.bot
						img(src="img/pillar_l_coner.png", alt="")
				.flower.left
					img(src="img/pillar_flower.png", alt="")
				.main
					.logo
						img(src="img/logo.svg", alt="")
					.slogan Hello，歡迎來到《漫遊之島》<br>與我們一起來場塔羅人格探索之旅。
					.line
						img(src="img/line1.svg", alt="")
					.info-txt 在這趟旅程，你可能會發現<br>原來你，是屬於一個你從來都沒想過的人格原型<br>女帝…魔術師…隱者…戰車…<br>在這個深入認識自己的過程<br>請放鬆你的想法，讓思緒無重力漂浮著<br>接下來，讓我們開始吧！
					.arrow-box
						.arrow
							img(src="img/arrow.svg", alt="")
					.card-area
						.card-cont
							p 建議找選一個舒適的空間，<br>為自己空出片刻專注，<br> 做出誠實與不要過於中庸的選擇喔。<br>請注意，答案選擇後將無法修改<br><br>完成後，專屬於你的塔羅人格分析，<br> 即將出現…
							.name-area
								.name-title 首先，你希望我們如何稱呼你？
								.name-box
									input.name-input#userName(type="text" name="userName" placeholder="請在此輸入")
							.privacy-check-area
								label(for="privacy").privacy-check-box
									input#privacy(type="checkbox" name="privacy")
									.pri-check
									.note 我已仔細閱讀並同意<span id="privacyBtn">本站條款</span>
							.start-btn#startBtn
								img(src="img/btn_start.png", alt="")
						.card-front
							img(src="img/bg_card1.png", alt="")
						.card-bk
							img(src="img/bg_card2.png", alt="")
				.pillar.right
					//- img(src="img/pillar_r.png", alt="")
					.pillar-coner.top
						img(src="img/pillar_r_coner.png", alt="")
					.pillar-center
					.pillar-coner.bot
						img(src="img/pillar_r_coner.png", alt="")
				.flower.right
					img(src="img/pillar_flower.png", alt="")
			.character-run-area#characterRunArea
				.character-run-box#runBox1
					img(src="img/bg_character2.png", alt="")
				.character-run-box#runBox2
					img(src="img/bg_character2.png", alt="")
		.page-area#questionArea
			.page-logo
				img(src="img/logo_s.svg")
			// 題目區
			.question-cont#questionCont
				.progress-area
					.progress-tit
						.tit 完成進度
						.cont <span id="progressNum">1</span>/10
					.progress-box
						.progress#progress
				//- 第一群組題目
				.question-list-cont#questionList1
					.question-list
						-const question1={'id':'1','tit':'在旁人眼中，你是一個具有影響力和創造力的人。'};
						+questionBox(question1)
						-const question2={'id':'2','tit':'遇見喜歡的人，就算不知道對方的意思，你仍然會採取行動，讓機會對你有利。'};
						+questionBox(question2)
						-const question3={'id':'3','tit':'在愛情上，你善於幫自己製造機會，而且結果常常都會如你所願。'};
						+questionBox(question3)
						-const question4={'id':'4','tit':'對工作有足夠的熱情，而且你很享受一起創造出什麼的成就感。'};
						+questionBox(question4)
						-const question5={'id':'5','tit':'團隊裡你是一個能夠點石成金，能把平凡的事都做得有聲有色的人。'};
						+questionBox(question5)
						-const question6={'id':'6','tit':'你總覺得自己不屬於城市，而更屬於大自然。'};
						+questionBox(question6)
					.btn-box.off#btnPart1
						img(src="img/btn_next.png", alt="")
				//- 第二群組題目
				.question-list-cont#questionList2
					.question-list
						-const question7={'id':'7','tit':'與另一半，你需要不斷有新的刺激，不然很容易沒新鮮感。'};
						+questionBox(question7)
						-const question8={'id':'8','tit':'和愛人一起去世界各地流浪，對你來說是一件很浪漫的事。'};
						+questionBox(question8)
						-const question9={'id':'9','tit':'追求創意的另類工作，會讓你覺得更樂在其中。'};
						+questionBox(question9)
						-const question10={'id':'10','tit':'同事眼中你是一個天真、孩子氣，總是把事情想得太理想的人。'};
						+questionBox(question10)
						-const question11={'id':'11','tit':'你認為要善待自己，有吃喝玩樂就該盡情享受。'};
						+questionBox(question11)
						-const question12={'id':'12','tit':'約會時，你會盡情打扮並表現自己，吸引他人的目光。'};
						+questionBox(question12)
					.btn-box.off#btnPart2
						img(src="img/btn_next.png", alt="")
				//- 第三群組題目
				.question-list-cont#questionList3
					.question-list
						-const question13={'id':'13','tit':'你發現，在愛情的關係裡，要輕鬆做自己，才能散發屬於自己的魅力。'};
						+questionBox(question13)
						-const question14={'id':'14','tit':'工作辛苦或是加班太累，你會用美食、美酒、購物，來好好犒賞自己。'};
						+questionBox(question14)
						-const question15={'id':'15','tit':'你覺得懂得運用資源，敢於要求並堅持自己想要的，工作才能獲得成功。'};
						+questionBox(question15)
						-const question16={'id':'16','tit':'你認為能夠幫助別人，是很快樂的，也能讓你的人生更有意義。'};
						+questionBox(question16)
						-const question17={'id':'17','tit':'旅行的時候，你願意把自己想去好久的行程，因為伴侶的要求而做出改變。'};
						+questionBox(question17)
						-const question18={'id':'18','tit':'覺得在愛情裡為對方奉獻付出，自己是做了對的決定，並且引以為傲。'};
						+questionBox(question18)
					.btn-box.off#btnPart3
						img(src="img/btn_next.png", alt="")
				//- 第四群組題目
				.question-list-cont#questionList4
					.question-list
						-const question19={'id':'19','tit':'在工作上，你會願意調整你的時間表，配合團體中的其他人。'};
						+questionBox(question19)
						-const question20={'id':'20','tit':'為了團隊好，你可以完全不計較個人利益。'};
						+questionBox(question20)
						-const question21={'id':'21','tit':'你的理智與情感常常在拔河，因為你想做出最好的決定。'};
						+questionBox(question21)
						-const question22={'id':'22','tit':'在親密關係裡，你希望表現出自己充沛的愛，但同時又希望保有理智。'};
						+questionBox(question22)
						-const question23={'id':'23','tit':'追求心有靈犀，細水長流型的交往，而不是乾材烈火、佔有慾強烈的愛情。'};
						+questionBox(question23)
						-const question24={'id':'24','tit':'同事之間的關係，你不會太熱情，也不會太冷淡，保持中庸之道。'};
						+questionBox(question24)
					.btn-box.off#btnPart4
						img(src="img/btn_next.png", alt="")
				//- 第五群組題目
				.question-list-cont#questionList5
					.question-list
						-const question25={'id':'25','tit':'工作做決策時，需要花蠻長的時間思考，原因是你希望可以面面俱到。'};
						+questionBox(question25)
						-const question26={'id':'26','tit':'你善於與人建立關係，並且喜歡給予對方回應。'};
						+questionBox(question26)
						-const question27={'id':'27','tit':'兩個人的關係中，你很在乎默契，希望不需要說太多話就能理解彼此。'};
						+questionBox(question27)
						-const question28={'id':'28','tit':'你認為愛情之中，緣分很重要，你喜歡那種一見鍾情的感覺。'};
						+questionBox(question28)
						-const question29={'id':'29','tit':'團隊合作，你在乎第一眼的感覺，如果覺得磁場對了，事情就好辦。'};
						+questionBox(question29)
						-const question30={'id':'30','tit':'你擅於與人合作，認為與同事或夥伴建立結盟關係，對雙方都有利。'};
						+questionBox(question30)
					.btn-box.off#btnPart5
						img(src="img/btn_next.png", alt="")
				//- 第六群組題目
				.question-list-cont#questionList6
					.question-list
						-const question31={'id':'31','tit':'覺得自己比很多人都要理智，能夠控制自己的情感。'};
						+questionBox(question31)
						-const question32={'id':'32','tit':'在愛情的關係中，比起肉體的歡愉，你更在乎心靈上的滿足。'};
						+questionBox(question32)
						-const question33={'id':'33','tit':'當你暗戀一個人的時候，你習慣隱藏自己的情感。'};
						+questionBox(question33)
						-const question34={'id':'34','tit':'在工作上，你和同事的關係就算相處融洽，私底下卻不太會有深交。'};
						+questionBox(question34)
						-const question35={'id':'35','tit':'同事認為你是一個對社交活動反應有點冷淡，比較難以接近。'};
						+questionBox(question35)
						-const question36={'id':'36','tit':'你認為事情要照規矩來，有規矩才能夠讓每件事順利進行。'};
						+questionBox(question36)
					.btn-box.off#btnPart6
						img(src="img/btn_next.png", alt="")
				//- 第七群組題目
				.question-list-cont#questionList7
					.question-list
						-const question37={'id':'37','tit':'喜歡的對象，做了與你道德觀違背的行為，會影響你對他的觀感。'};
						+questionBox(question37)
						-const question38={'id':'38','tit':'戀愛的時候，你會很在意公平性，希望彼此雙方的付出要是對等的。'};
						+questionBox(question38)
						-const question39={'id':'39','tit':'工作上你希望賞罰分明，是你的你會爭取，不是你的你也不會貪求。'};
						+questionBox(question39)
						-const question40={'id':'40','tit':'不管對方的位階，只要他做錯事，你都會說出你的看法，並建議對方修正。'};
						+questionBox(question40)
						-const question41={'id':'41','tit':'認為偶爾應該停下腳步，留一點空間獨處，整理自己的思緒和感受。'};
						+questionBox(question41)
						-const question42={'id':'42','tit':'你希望另一半給你許多獨處的時間，如果對方不能接受，你寧願不要在一起。'};
						+questionBox(question42)
					.btn-box.off#btnPart7
						img(src="img/btn_next.png", alt="")
				//- 第八群組題目
				.question-list-cont#questionList8
					.question-list
						-const question43={'id':'43','tit':'願意耐心去引導你的伴侶，告訴他們你認為愛情的相處之道。'};
						+questionBox(question43)
						-const question44={'id':'44','tit':'職場上的派系鬥爭，你不太會選邊站，而是寧可成為別人眼中的獨行俠。'};
						+questionBox(question44)
						-const question45={'id':'45','tit':'在同事和主管眼中，你是一個擅於思考的人，他們也常徵詢你的意見。'};
						+questionBox(question45)
						-const question46={'id':'46','tit':'認為想達成結果，說話太直接造成別人的不高興，有時是必要的。'};
						+questionBox(question46)
						-const question47={'id':'47','tit':'希望你的意見，可以主導與另一半的約會行程。'};
						+questionBox(question47)
						-const question48={'id':'48','tit':'與喜歡的人約出去玩，你不會刻意配合對方，而是以自己想做的事為主。'};
						+questionBox(question48)
					.btn-box.off#btnPart8
						img(src="img/btn_next.png", alt="")
				//- 第九群組題目
				.question-list-cont#questionList9
					.question-list
						-const question49={'id':'49','tit':'對於無效率的Email來往，常常讓你覺得不耐煩。'};
						+questionBox(question49)
						-const question50={'id':'50','tit':'對於有助於提高效率的事，你就會這麼做，同時固執己見。'};
						+questionBox(question50)
						-const question51={'id':'51','tit':'你認為自己的心智堅強，對於想要的目標很有行動力。'};
						+questionBox(question51)
						-const question52={'id':'52','tit':'對於感情採取主動，會計畫好怎麼追求對方，或是讓他喜歡上你。'};
						+questionBox(question52)
						-const question53={'id':'53','tit':'在感情上，你很清楚自己要的對象，而且充滿自信。'};
						+questionBox(question53)
						-const question54={'id':'54','tit':'再難的事，你都會朝著目標前進，認為有進度就是一種收穫。'};
						+questionBox(question54)
					.btn-box.off#btnPart9
						img(src="img/btn_next.png", alt="")
				//- 第十群組題目
				.question-list-cont#questionList10
					.question-list
						-const question55={'id':'55','tit':'工作的時候就算面臨挑戰，也會躍躍欲試。'};
						+questionBox(question55)
						-const question56={'id':'56','tit':'認為沒用的東西就應該丟掉，不需要留著。'};
						+questionBox(question56)
						-const question57={'id':'57','tit':'過去的每一段關係，你都認為，當初分手是正確的選擇。'};
						+questionBox(question57)
						-const question58={'id':'58','tit':'如果一段感情糾纏不清，你往往是能做出結束的決定。'};
						+questionBox(question58)
						-const question59={'id':'59','tit':'你常認為舊的規則就是要打破，才會有新的機會。'};
						+questionBox(question59)
						-const question60={'id':'60','tit':'新工作新舞台，讓你可以開始全新的任務，滿足感遠超過舊有的工作。'};
						+questionBox(question60)
					.btn-box.off#btnPart10
						img(src="img/btn_submit.png", alt="")
			// 結果區
			.result-cont#resultCont
				.result-paper-area
					.result-paper-cont#resultPaperCont
						.coner.coner1
						.coner.coner2
						.page-border.top
							.star.top
						.page-border.bot
							.star.bot
						.result-paper-info-cont
							.result-paper-tit
								.circle-tit-box
									span 測
									span 驗
									span 結
									span 果
								.result-name-box
									.name#resultName 王小明
									.txt 你的主人格是
									.result#mainCard 魔術師
							.result-info-area
								.result-info-card-area
									.result-info-card-img
										.img-box#mainCardImg
											img(src="img/pre_card.png", alt="")
								.result-info-cube-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個正面特質
										.cont#mainPositive ・啟動正面思考的能量<br>・讓惰性元素變得活化<br>・能接受挑戰創造機會
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個負面特質
										.cont#mainNegative ・無法冷靜思考<br>・想法不專一<br>・容易給人壓力
									.result-info-cube-box.bot
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_keywords.svg", alt="")
											.line.right
										.tit 人格強勢關鍵字
										.cont#mainPositiveKey 熱情・主動・創造
									.result-info-cube-box.bot
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_keywords.svg", alt="")
											.line.right
										.tit 人格弱勢關鍵字
										.cont#mainNegativeKey 急躁・善變・壓力
								.result-info-overview-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_overview.svg", alt="")
											.line.right
										.tit 主人格概述
										.cont#mainInfo 你主動而有行動力，具有正向能量。而且你的行動經過清晰思考，所以充滿把握與自信。在塔羅牌中，魔術師人格具有點石成金的能力，在面對挑戰的時候，他善於發揮組織力和創造力，把周圍的元素轉化為實質的東西。同時，魔術師人格也有一種「把夢想變實際」的能力，他適合築夢，也可以把空幻的夢想變成穩固的現實。
									.more-btn#moreBtn
										img(src="img/btn_more.png", alt="")
				.social-area
					.tit 邀請朋友一起來測
					.social-box
						.social-btn#fbShare
							img(src="img/icon_facebook.svg", alt="")
						.social-btn#lineShare
							img(src="img/icon_line.svg", alt="")
			//-內容
			include includes/footer
script.
	var actInd,nextInd;
	$(document).ready(function(){
		//=== api set ===
		//- $.ajaxSetup({
		//- 	async: false,
		//- 	//- crossDomain: true,
		//- 	//- xhrFields: {
		//- 	//- 	withCredentials: true
		//- 	//- },
		//- });
		var apiData = {
			name: '',
			age: '',
			gender:'',
			email: '',
			m: '',
			l: '',
			b: '',
			result: '',
		}
		//=== 跑馬燈 ===
		marqueeMesFun();
		$('#questionArea,#resultCont').hide();
		//=== 清空重置選項答案和表單(預防按上一頁) ===
		$('#userName').val('');
		$('#privacy').prop('checked', false);
		$('input[type="radio"]').prop('checked', false);
		$('#name').val('');
		$('#age').find('option[value="1"]').prop('selected', 'selected');
		$('#email').val('');

		$('#startBtn').on('click',function(){
			var userName = $('#userName').val();
			var privacyCheck = $('#privacy').is(':checked');
			//- console.log(userName);
			//- console.log(privacyCheck);
			if(userName==''||privacyCheck==false){
				if(userName==''){
					alert('請輸入你的名稱。');
				}else if(privacyCheck==false){
					alert('請同意隱私權。');
				}
			}else{
				console.log('測驗開始');
				//= light box 放值 =
				$('#name').val(userName);
				$('#resultName').html(userName);
				//= 關閉歡迎 =
				$('#mainArea').hide(); 
				//= 打開問題 =
				$('#questionArea').show();
				$('#questionCont,#questionList1').show();
				//== 切頁回到最上 ==
				goTopImmed();
			}
		});

		//=== 下一頁按鈕 ===
		//= 如果到了下一個的第一個(nextNum)按鈕要可以按 =
		var nextBtnList=[
			{'id':'1','nextNum':'7'},
			{'id':'2','nextNum':'13'},
			{'id':'3','nextNum':'19'},
			{'id':'4','nextNum':'25'},
			{'id':'5','nextNum':'31'},
			{'id':'6','nextNum':'37'},
			{'id':'7','nextNum':'43'},
			{'id':'8','nextNum':'49'},
			{'id':'9','nextNum':'55'},
			{'id':'10','nextNum':'61'}
		];
		$.each(nextBtnList,function(ind,val){
			//=== 第一頁 ~ 第九頁 ===
			if(val.id!=10){
				$('#btnPart'+val.id).on('click',function(){
					var nextId=Number(val.id)+1;
					if(nextInd == val.nextNum){
						$('#questionList'+val.id).hide();
						$('#questionList'+nextId).show();
						$('#progressNum').html(nextId);
						$('#progress').css({'width': nextId+'0%'});
						//== 回到最上 ==
						goTop();
					}
				});
			}else{//=== 第十頁 ===
				$('#btnPart'+val.id).on('click',function(){
					$('#questionCont').hide();
					$('#resultCont').show();
					//== 切頁回到最上 ==
					goTopImmed();
					//== 計算結果 ==
					console.log('== 計算結果 ==');
					countScore();
					console.log(cardScore);
				});
			}
		});
		//＊＊＊=== 查看結果切版 ===＊＊＊
		//- $('.page-logo').on('click',function(){
		//- 	$('#questionCont').hide();
		//- 	$('#resultCont').show();
		//- 	//== 切頁回到最上 ==
		//- 	goTopImmed();
		//- });
		//- //=== 第一頁 ===
		//- $('#btnPart1').on('click',function(){
		//- 	if(nextInd == 7){
		//- 		$('#questionList1').hide();
		//- 		$('#questionList2').show();
		//- 		$('#progressNum').html('2');
		//- 		$('#progress').css({'width':'20%'});
		//- 	}
		//- });
		//- //=== 第二頁 ===
		//- $('#btnPart2').on('click',function(){
		//- 	if(nextInd == 13){
		//- 		$('#questionList2').hide();
		//- 		$('#questionList3').show();
		//- 		$('#progressNum').html('3');
		//- 		$('#progress').css({'width':'30%'});
		//- 	}
		//- });
		
		$('#questionBox1').addClass('act');
		//=== 依序填寫 ===
		$('.point-box').find('input').each(function(){
			$(this).on('change',function(){
				//- console.log($(this).val());//選擇的分數
				var actBoxId=$(this).parent().parent().attr('id');
				//- console.log(actBoxId);//當前box
				actInd = actBoxId.replace('questionPoint','');
				//- console.log(actInd);//當前題數
				nextInd = Number(actInd)+1;
				//- console.log(nextInd);//下一題題數
				$('#questionBox'+actInd).removeClass('act');
				$('#questionBox'+nextInd).addClass('act');

				//== 如果題數到了 要移掉按鈕的off狀態 ==
				$.each(nextBtnList,function(ind,val){
					if(nextInd==val.nextNum){
						$('#btnPart'+val.id).removeClass('off');
					}
				});
				//- if(nextInd==7){
				//- 	$('#btnPart1').removeClass('off');
				//- }else if(nextInd==13){
				//- 	$('#btnPart2').removeClass('off');
				//- }
				//== json填入分數 ==
				var qId = $('#question'+actInd).data('qid');
				//- console.log(qId);//對應的題目序號
				var listInd = qId - 1;
				var choseScore = $(this).val();
				questionList[listInd].qScore = choseScore;
			});
		});
		//=== 請依序填寫 ===
		//- $('.off-btn').on('click',function(){
		//- 	alert('請填寫完成')
		//- });
		//=== 取的更多資料 ===
		$('#moreBtn').on('click',function(){
			$('#moreLightBox,#mask').fadeIn(300);
			bgFix();
		});
		//=== 取得更多報告送出 ===
		//- $('#submitBtn').on('click',function(){
		//- 	var name=$('#name').val();
		//- 	var email=$('#email').val();
		//- 	if(name==''||email==''){
		//- 		alert('請填寫完整資料。');
		//- 	}else{
		//- 		alert('已寄送。');
		//- 		$('.lightbox-area-bg,#mask').fadeOut(300);
		//- 		bgUnFix();
		//- 	}
		//- });

		//=== 隱私權開啟 ===
		$('#privacyBtn').on('click',function(){
			$('#privacyInfoBox,#mask').fadeIn(300);
			bgFix();
		});
		$(".privacy-info").mCustomScrollbar();

		//=== 燈箱關起來 ===
		$('.light-close').on('click',function(){
			$('.lightbox-area-bg,#mask').fadeOut(300);
			bgUnFix();
		});

		//=== 題目列表 ===
		var cardSort=['魔術師','愚者','戀人','皇后','皇帝','戰車','吊人','節制','正義','女教皇','隱者','死神'];
		var cardScore=[{'name':'魔術師','mainScore':0,'loveScore':0,'businessScore':0},{'name':'愚者','mainScore':0,'loveScore':0,'businessScore':0},{'name':'戀人','mainScore':0,'loveScore':0,'businessScore':0},{'name':'皇后','mainScore':0,'loveScore':0,'businessScore':0},{'name':'皇帝','mainScore':0,'loveScore':0,'businessScore':0},{'name':'戰車','mainScore':0,'loveScore':0,'businessScore':0},{'name':'吊人','mainScore':0,'loveScore':0,'businessScore':0},{'name':'節制','mainScore':0,'loveScore':0,'businessScore':0},{'name':'正義','mainScore':0,'loveScore':0,'businessScore':0},{'name':'女教皇','mainScore':0,'loveScore':0,'businessScore':0},{'name':'隱者','mainScore':0,'loveScore':0,'businessScore':0},{'name':'死神','mainScore':0,'loveScore':0,'businessScore':0}];
		//0=魔術師,1=愚者,2=戀人,3=皇后,4=皇帝,5=戰車,6=吊人,7=節制,8=正義,9=女教皇,10=隱者,11=死神
		var questionList=[
			{
				'qId': 1,
				'qtxt':'為了達成預期結果，說話直接而造成別人的不愉快，是無法避免的。',
				'qCard': 4,
				'qtheme': 0,//0 - 無分類, 1 - 事業, 2 - 愛情
				'qScore': 0,
			},
			{
				'qId': 2,
				'qtxt':'你的心智堅強，對於想要的目標，往往充滿行動力。',
				'qCard': 5,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 3,
				'qtxt':'沒用的東西就應該丟掉，不需要留著。',
				'qCard': 11,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 4,
				'qtxt':'你比很多人都要理智，能夠好好控制自己的情感。',
				'qCard': 9,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 5,
				'qtxt':'你認為做事就是該照規矩來，才能夠讓每件事順利進行。',
				'qCard': 8,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 6,
				'qtxt':'你常常停下腳步、與自己獨處、整理自己的思緒和感受。',
				'qCard': 10,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 7,
				'qtxt':'能夠幫助到別人，你覺得是快樂的，也讓人生更有意義。',
				'qCard': 6,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 8,
				'qtxt':'為了想做出最好的決定，你的理智與情感常常在拔河。',
				'qCard': 7,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 9,
				'qtxt':'你喜歡給予他人回應，善於與人建立關係。',
				'qCard': 2,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 10,
				'qtxt':'你的創造力豐富，也樂於讓自己的想法影響他人。',
				'qCard': 0,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 11,
				'qtxt':'總覺得自己不屬於城市，而更屬於大自然。',
				'qCard': 1,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 12,
				'qtxt':'覺得人要懂得善待自己，能吃能玩樂就該盡情享受。',
				'qCard': 3,
				'qtheme': 0,
				'qScore': 0,
			},
			{
				'qId': 13,
				'qtxt':'與喜歡的對象約會時，行程往往是你的意見在主導。',
				'qCard': 4,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 14,
				'qtxt':'與穩定對象約會，不會刻意配合對方，而是以自己喜歡做的事為主。',
				'qCard': 4,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 15,
				'qtxt':'感情上會主動追求，讓對方喜歡上你。',
				'qCard': 5,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 16,
				'qtxt':'愛情關係中，你很清楚自己追求什麼，而且充滿自信。',
				'qCard': 5,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 17,
				'qtxt':'你認為過往的分手，大多都是正確的決定',
				'qCard': 11,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 18,
				'qtxt':'如果一段感情糾纏不清，你往往是能做出結束決定的那個人。',
				'qCard': 11,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 19,
				'qtxt':'比起肉體的歡愉，你更在乎心靈上的滿足。',
				'qCard': 9,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 20,
				'qtxt':'對一個人有好感時，你習慣隱藏自己的情感。',
				'qCard': 9,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 21,
				'qtxt':'無法接受自己喜歡的對象，做出與你道德觀相違背的行為。',
				'qCard': 8,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 22,
				'qtxt':'你非常在意愛情關係中的公平，認為彼此雙方的付出要是對等的。',
				'qCard': 8,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 23,
				'qtxt':'另一半如果無法給你獨處的空間，你會感到有壓力，甚至不太舒服。',
				'qCard': 10,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 24,
				'qtxt':'你願意耐心去引導，給伴侶生活的指引。',
				'qCard': 10,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 25,
				'qtxt':'自己期待好久的行程，當伴侶有不同的想法，你願意做出犧牲。',
				'qCard': 6,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 26,
				'qtxt':'在愛情裡為對方奉獻付出是值得的，並且引以為傲。',
				'qCard': 6,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 27,
				'qtxt':'你總是想要表現出自己充沛的愛，但同時又希望保有理智。',
				'qCard': 7,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 28,
				'qtxt':'追求感性與理性兼具、能夠細水長流的愛情。',
				'qCard': 7,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 29,
				'qtxt':'在愛情裡，默契很重要，喜歡不需要說太多話就能理解彼此的感覺。',
				'qCard': 2,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 30,
				'qtxt':'你的善解人意常常讓對方先愛上你。',
				'qCard': 2,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 31,
				'qtxt':'你會製造戀愛的新鮮感，不會讓另一半覺得無聊。',
				'qCard': 0,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 32,
				'qtxt':'愛情中，你會是不斷學習進步的人，並且能讓對方感覺到。',
				'qCard': 0,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 33,
				'qtxt':'在愛情裡，你喜歡驚喜大過於計畫好的事。',
				'qCard': 1,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 34,
				'qtxt':'和愛人一起去世界各地流浪，對你來說是一件很浪漫的事。',
				'qCard': 1,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 35,
				'qtxt':'約會時你會用力地打扮並表現自己，吸引目光。',
				'qCard': 3,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 36,
				'qtxt':'你嚮往充滿享受與奢華體驗的戀情。',
				'qCard': 3,
				'qtheme': 2,
				'qScore': 0,
			},
			{
				'qId': 37,
				'qtxt':'對於無效率的Email來往，常常讓你覺得不耐煩。',
				'qCard': 4,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 38,
				'qtxt':'你喜歡有助於提高效率的事，並會為此堅持。',
				'qCard': 4,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 39,
				'qtxt':'再難的工作任務，只要朝著目標前進，有進度就是一種收穫。',
				'qCard': 5,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 40,
				'qtxt':'工作面臨挑戰，更會躍躍欲試。',
				'qCard': 5,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 41,
				'qtxt':'舊的工作規則就是要打破，才會有新的機會。',
				'qCard': 11,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 42,
				'qtxt':'每次換新工作，開始全新的挑戰，滿足感遠超過舊有的工作。',
				'qCard': 11,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 43,
				'qtxt':'你和同事的關係就算相處融洽，私底下卻不太會有深交。',
				'qCard': 9,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 44,
				'qtxt':'別人眼中，你是一個對社交活動冷淡，較難以接近的工作夥伴。',
				'qCard': 9,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 45,
				'qtxt':'工作上對就是對，錯就是錯，不該把私人交情或情感牽涉進來。',
				'qCard': 8,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 46,
				'qtxt':'職場中，常會直接說出你的看法，對同事的事也常表達意見。',
				'qCard': 8,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 47,
				'qtxt':'公司的派系鬥爭，你不太會選邊站，寧可成為別人眼中的獨行俠。',
				'qCard': 10,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 48,
				'qtxt':'在同事和主管眼中，你是善於思考獨立的人，他們也常徵詢你的意見。',
				'qCard': 10,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 49,
				'qtxt':'你會願意調整你的時間表，去配合工作團體中的其他人。',
				'qCard': 6,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 50,
				'qtxt':'為了團隊好，你可以完全不計較個人利益。',
				'qCard': 6,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 51,
				'qtxt':'同事之間你不會太熱情，也不會太冷淡，保持中庸之道。',
				'qCard': 7,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 52,
				'qtxt':'工作決策時，你需要花蠻長的時間思考，作法保守，避免錯誤發生。',
				'qCard': 7,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 53,
				'qtxt':'你能營造出和諧的夥伴關係，大家都喜歡與你合作。',
				'qCard': 2,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 54,
				'qtxt':'擅長團隊合作，認為與同事或夥伴建立結盟關係，對雙方都有利。',
				'qCard': 2,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 55,
				'qtxt':'對工作充滿熱情，享受一起創造出成果的成就感。',
				'qCard': 0,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 56,
				'qtxt':'工作上你是一個能夠點石成金，把平凡的事都做成不平凡的人。',
				'qCard': 0,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 57,
				'qtxt':'你認為工作應該要輕鬆有趣、廣結善緣。',
				'qCard': 1,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 58,
				'qtxt':'你是一個天真、孩子氣，總是把工作的事情想得美好的人。',
				'qCard': 1,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 59,
				'qtxt':'工作的辛勞，你喜歡會用美食、美酒、購物，來好好犒賞自己。',
				'qCard': 3,
				'qtheme': 1,
				'qScore': 0,
			},
			{
				'qId': 60,
				'qtxt':'工作上的感性與包容，讓你經常成為團隊的精神領袖與核心人物。',
				'qCard': 3,
				'qtheme': 1,
				'qScore': 0,
			},
		]
		//0=魔術師,1=愚者,2=戀人,3=皇后,4=皇帝,5=戰車,6=吊人,7=節制,8=正義,9=女教皇,10=隱者,11=死神
		
		//=== 題組題數和順序 60題 ===
		var qsort = new Array();
		for (var i = 0; i < 60; i++) {
			qsort.push(i);
		}
		//- console.log(qsort);
		//== 題目順序隨機 ==
		qsort = shuffle(qsort);
		//- console.log(qsort);
		//== 填入題目文字 ==
		$.each(qsort,function(ind,val){
			var qId = questionList[val].qId;
			var qtxt = questionList[val].qtxt;
			var qNum = val+1;

			//- 照亂隨機順序排
			var sordInd = ind+1;
			$('#question'+sordInd).text(qtxt);
			$('#question'+sordInd).data('qid',qId);
			//- 照json順序排
			//- $('#question'+qNum).text(qtxt);
			//- $('#question'+qNum).data('qid',qId);
		});

		//=== 人格結果資訊 ===
		var resultCardInfo=[
			{
				'cardId':1,
				'cardName':'魔術師',
				'main':{
					'info':'你主動而有行動力，具有正向能量。而且你的行動經過清晰思考，所以充滿把握與自信。在塔羅牌中，魔術師人格具有點石成金的能力，在面對挑戰的時候，他善於發揮組織力和創造力，把周圍的元素轉化為實質的成果。同時，魔術師人格也有一種「把夢想變實際」的能力，他適合築夢，也可以把空幻的夢想變成穩固的現實。',
					'positive':'・正面思考<br>・活化惰性<br>・能創造機會',
					'positiveKey':'熱情・主動・創造',
					'negative':'・無法冷靜思考<br>・想法不專一<br>・容易給人壓力',
					'negativeKey':'急躁・善變・壓力'
				},
				'love':{
					'info':'愛情是魔術師人格，代表你容易受到喜歡和歡迎，原因很簡單，你可以創造出愛情裡的新鮮感。而且你可以跟不同類型的人，都擦撞出愛情的火花。整體來說你在感情的世界裡，是如魚得水且受歡迎的。因為魔術師也代表了學習，就算一開始對方對你沒有多大的興趣，也可能會因為你不斷學習和進化，不知不覺被你吸引。',
					'positive':'・帶給人新鮮感<br>・具有獨特魅力<br>・善於言語溝通',
					'negative':'・見異思遷<br>・欠缺續航力<br>・說的比做的好',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'工作事業學業是魔術師人格，顯示你充滿創意，也喜歡創新的事物。如果你的工作或是學業上能讓你有展現想法的機會，你會如魚得水。同時與人有關的事，無論是行銷、文化或是藝文，你都具有絕佳的能力，最會消磨你的熱情的，是那些重複的、被框架給限制的工作，因為沒有創造力的事會讓你失去光與熱。',
					'positive':'・有創造力<br>・善於互動<br>・點石成金',
					'negative':'・欠缺耐性<br>・容易自滿<br>・容易失去鬥志',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':2,
				'cardName':'愚者',
				'main':{
					'info':'愚者代表了人性中天真和熱情的部分，同時也代表了喜愛旅行和浪漫的本質。你並不適合過於世故和成熟的世界，能夠在大人的世界裡，當個純真而熱情的孩子，才會讓你的靈魂真正感受到快樂。愚者也代表了宇宙間的風元素，總是有很多新鮮的念頭，但卻沒有定性，當你認清了自己，就不對會自己總是見異思遷感到過意不去。',
					'positive':'・天真浪漫<br>・孩子般的熱情<br>・充滿新鮮想法',
					'positiveKey':'熱情・探索・純真',
					'negative':'・理想主義<br>・想法幼稚<br>・無法承擔責任',
					'negativeKey':'任性・逃避・粗心'
				},
				'love':{
					'info':'愛情是愚者人格，暗示你的感情觀是享受當下，隨遇而安。因為不喜歡被規則給捆綁住。你的感覺總是說來就來，很容易墜入愛河，也喜歡浪漫的驚喜。所以不想計劃將來的對象特別適合你，有點難以捉摸的彼此關係，反而會讓你常保新鮮感和熱情。',
					'positive':'・浪漫而富有魅力<br>・讓對方覺得充滿驚喜<br>・適合透過旅行找到愛情',
					'negative':'・說變就變<br>・沒感覺的時候會閃離<br>・無法規劃長久未來',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'愚者牌在工作和人際關係方面，因為是個讓人覺得輕鬆的夥伴，所以相當受到歡迎。也容易以輕鬆的方式來結交各類朋友。工作上因為廣結人脈的好人緣，非常適合從事開發業務相關的工作。不過愚者在承擔責任上，續航力顯得不足，常常經營了一段時間之後，就會覺得失去耐心，無法贏得最後的勝利。',
					'positive':'・讓人覺得輕鬆有趣<br>・容易結交人脈<br>・是團隊裡的氣氛催化劑',
					'negative':'・不適合承擔責任<br>・隨便答應事情<br>・三分鐘熱度',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':3,
				'cardName':'戀人',
				'main':{
					'info':'你的內心蘊藏著浩瀚的愛的能量，敏感而纖細。有時候，孤獨的感覺還是會讓你自我懷疑，那是因為你對愛的渴望強烈。試著釋放善意，承認自己的多愁善感，愛的充沛與磨練將讓你成為更好的人。',
					'positive':'・釋放善意改變磁場<br>・能帶給人幸福的感受<br>・擅長建立默契關係',
					'positiveKey':'幸福・正向・包容',
					'negative':'・害怕失落而怯步<br>・過於多愁善感<br>・個性敏感到讓人懼怕',
					'negativeKey':'敏感・情緒・怯懦'
				},
				'love':{
					'info':'愛情是戀人人格，代表你容易建立與對方的親密關係。因為當你釋放善意的時候，會散發一種穩定幸福的磁場，感染身旁親近的人。而與你達成共識和建立默契的感覺，會讓人不由自主地被你吸引。',
					'positive':'・喚醒幸福渴望<br>・容易建立關係<br>・懂得善解人意',
					'negative':'・容易患得患失<br>・因為愛而畏懼<br>・情緒起伏波動',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'將戀人牌的特質發揮到工作上，你總是散發與人樂於合作的特質。和諧且互補的夥伴關係，會幫你建立盟約關係，同時透過這樣的團隊，讓自己如魚得水，目標更容易達成。',
					'positive':'・樂於建立關係<br>・懂得互助合作<br>・擅長凝聚團隊',
					'negative':'・情緒反應過激<br>・無法單打獨鬥<br>・需要依賴他人',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':4,
				'cardName':'皇后',
				'main':{
					'info':'皇后代表了感性的，豐盈的，讓人放鬆的。這樣的你能夠塑造出一種富足的狀態，跟你在一起就會覺得享受生活是一件很重要的事。同時，你的感性能量也十分的充沛，容易感染身邊的人，但是同時你也會容易感情用事，如何讓感性的那一面成為你的助力而非阻礙，會是你最重要的課題。',
					'positive':'・情感充沛<br>・具有感染力<br>・帶給人放鬆和幸福感',
					'positiveKey':'感性・包容・享樂',
					'negative':'・太重視物質<br>・感情用事<br>・情緒化',
					'negativeKey':'沉迷・自我・物慾'
				},
				'love':{
					'info':'愛情是皇后人格，代表你的情感能量十分充沛，常常會讓對方感覺到愛情的氛圍，因此對你產生好感不過也容易陷於感官與享受的迷思中，因為總是喜好美好事物又追求感官享受，讓人有種過於重視物質生活的印象。',
					'positive':'・懂得享受<br>・充滿自信魅力<br>・擅於與人互動',
					'negative':'・太重視物質體驗<br>・情緒波動大<br>・太過於自我為中心',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'皇后牌在工作上，能為團隊帶來良好的合作氣氛，因為重視感性，也是團隊之中很重要的靈魂人物和黏著劑。不過往往也會因為過於感性思考，往往都會讓人有種不夠犀利的印象。反而無法勝任重責大任。',
					'positive':'・充滿包容心<br>・具備領袖特質<br>・容易獲得他人信任',
					'negative':'・過於情緒化<br>・被物質感官吸引<br>・虛榮心重喜歡甜言蜜語',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':5,
				'cardName':'皇帝',
				'main':{
					'info':'你是一位對別人強大的影響力和控制力的人，透過你本身的領袖魅力，可以讓群體凝聚向心力。不過，皇帝人格通常也併隨著強勢和強烈的情緒起伏。你能夠給別人正確的引導，並協助他人獲得成就感。但你也同時會控制別人，甚至有可能會帶領別人走入錯誤的路，皇帝人格的人優點就是充滿個人魅力，但也因為他的人格特質，有時常會陷入過度自信的迷思裡。',
					'positive':'・能讓周圍的人感到放心<br>・能提供他人正確的指示<br>・領袖氣質擅長帶領團隊',
					'positiveKey':'果斷・精明・領導',
					'negative':'・因過度自信而判斷失誤<br>・過於強勢讓人有距離感<br>・處逆境時容易自我放棄',
					'negativeKey':'自滿・強勢・嚴厲'
				},
				'love':{
					'info':'愛情是皇帝人格，代表你容易在戀情中顯現主導性格，強勢又帶給對方安全感。但有時會因為掌控慾過強，讓對方想要逃避。也因為絕對不會衝動的穩定性格，會少了一些刺激和火花。',
					'positive':'・帶給人安全感<br>・具有領袖魅力<br>・對情感負責任',
					'negative':'・容易掌控對方<br>・不太有同理心<br>・不太輕易低頭',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'具有鍥而不捨的學習精神，因為總是對自我要求特別高，所以在團體中也常會擔任領導者的角色。能夠很果斷地處理事情，善於管理團隊，也願意幫助他人。',
					'positive':'・能大方提供協助<br>・勇於承擔責任<br>・能夠堅持目標',
					'negative':'・被認為自以為是<br>・給人驕傲印象<br>・喜歡情緒勒索',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':6,
				'cardName':'戰車',
				'main':{
					'info':'戰車總是在前進的狀態，不一定是橫衝直撞，也可能是緩步向前。前進會讓你感覺到存在感，相反的，如果事情停滯不前，你就會越來越失去耐性。戰車牌具有完成目標的毅力，但也因為能量持續在耗費中，一段時間就會容易出現心靈的疲倦。',
					'positive':'・持續朝目標前進<br>・喜歡設定目標<br>・展現積極能量',
					'positiveKey':'積極・前進・毅力',
					'negative':'・停滯時會顯得暴躁<br>・過於功利主義<br>・缺少憐憫之心',
					'negativeKey':'忙亂・懷疑・剛硬'
				},
				'love':{
					'info':'愛情是戰車人格，代表你的感情適合處在活躍的狀態。比起等待他人追求，你更適合採取主動，天生比較適合當獵人而非獵物。',
					'positive':'・適合主動出擊<br>・給人積極印象<br>・進攻時散發吸引力',
					'negative':'・有時過於急躁<br>・無法處於逆境<br>・得不到回應會慌亂',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'戰車牌在工作上，會給人一種積極主動的好印象。容易被交付重責大任，也很容易達成自己設定的目標。但戰車牌如果處於不順遂狀態，反而會顯得心理素質不好而有自暴自棄的傾向。',
					'positive':'・適合交付重要任務<br>・能夠帶領他人向前<br>・積極進取的企圖心',
					'negative':'・無法應變節奏變化<br>・聽不進他人的意見<br>・常忽略同伴感受',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':7,
				'cardName':'吊人',
				'main':{
					'info':'吊人顯示了一種犧牲奉獻的精神，為了你自己所相信的、為了團體、為了自己所愛之人，你願意付出並且持續這麼做。所以吊人被視為忠誠的象徵，也代表了是可以信賴的夥伴，透過你內心順從生命的指令，做一個不犯錯而努力付出的人。比起追求光環，吊人更在意的是自己付出的聖潔感，這會讓自己因為感覺被需要而存在。不過，這也是這個人格的最大課題，如何找出生命的價值，而不是來自對方的眼光和肯定，散發熱情為自己而活。',
					'positive':'・犧牲奉獻<br>・對關係盡責<br>・有很強的續航力',
					'positiveKey':'忠誠・付出・順從',
					'negative':'・失去自我<br>・靠別人找到自信<br>・悲劇英雄傾向',
					'negativeKey':'盲目・自卑・依賴'
				},
				'love':{
					'info':'愛情是吊人人格，代表你對愛情總是習慣付出，把照顧對方視為理所當然。這樣的戀愛關係很容易在一開始的時候綁住對方的心，因為和你在一起是很有安全感的。但危機也藏身其中。你會發現自的愛變得太過於理所當然，而失去了愛情裡的主控權。',
					'positive':'・懂得照顧人<br>・理解對方感受<br>・願意為愛付出',
					'negative':'・讓人覺得缺乏新鮮感<br>・過於一廂情願<br>・容易成為工具人',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'工作是吊人人格，對工作總是願意全力以赴，並且值得相信，也願意承擔責任。因為你可以全心付出不求回報，所以在團體中是很適合交付任務的對象。只是要特別留意的是，這樣的特質有個潛在的風險，就是你的權益總是會放被放在最後。因為你不會凸顯個人英雄主義，但反而有時會顯得無欲無求，而成為有苦勞沒有功勞的角色。',
					'positive':'・有責任感<br>・值得信任<br>・不搶功',
					'negative':'・常常感到委屈<br>・無聲的工作者<br>・不擅於展現自身價值',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':8,
				'cardName':'節制',
				'main':{
					'info':'你講究感性與理性的平衡，做什麼都希望能適度與平衡。因為每件事和諧存在的狀態，會讓你感到內心平靜。節制型人格總是律己甚嚴，希望滿足他人，也希望自己表現得宜。也因為這樣的人格特質，你很多時後會過得特別辛苦，因為你們總是謹慎控制自己的情感，也不讓自己行為太引人注目，所以會不斷地反覆思考。節制型人格最大的課題就是學會放鬆。',
					'positive':'・舉止得宜<br>・平衡關係<br>・個性溫和',
					'positiveKey':'和諧・平靜・控制',
					'negative':'・內心掙扎<br>・缺乏勇氣改變<br>・心口不一',
					'negativeKey':'疲乏・平庸・懦弱'
				},
				'love':{
					'info':'愛情是節制人格，代表你對愛情總是希望能夠達到感性與理性的平衡，不想要愛得太過於激烈，也要求自己不要因為愛而讓生活失去控制。這樣的人格特質，會讓對方感受到疏離，好像無法全心全意投入一段戀情中。',
					'positive':'・理性與感性平衡<br>・細水長流<br>・建立長久關係',
					'negative':'・凡事精準計算<br>・讓人感受不到熱情<br>・無法誠實表達情感',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'節制人格在工作上，擁有敏銳的直覺力，因為內心總是在衡量感性與理性的平衡，所以做事很能面面俱到，跟什麼人都能共組團隊，成為可靠的中堅份子。但節制型的人，在工作也會遇到一個問題，就是太走安全路線，為了避免不出錯，一切事情都走在最安全的道路上，反而會讓自己的表現不容易讓人有深刻印象。',
					'positive':'・感性理性平衡<br>・給人安全感<br>・創造團隊和諧的氣氛',
					'negative':'・過於保守<br>・缺乏創意<br>・難建立深刻關係',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':9,
				'cardName':'正義',
				'main':{
					'info':'正義代表了維持秩序的規則，律法，以及公平公正。所以你的個性裡，存在著強烈的公平主義。這也反應你做事的原則上，公平優先、公平至上。同時你也在乎秩序和規則，透過這些規範，讓你的世界可以維持秩序，順利運作。但要特別留意的是，這樣的你，也會有過於僵化的傾向，因為這些帶來安全感的規則，往往會制約了奔放的想法和更多的可能。',
					'positive':'・遵守規定<br>・維持秩序<br>・給人穩定和安全感',
					'positiveKey':'規則・秩序・平衡',
					'negative':'・被規則給制約<br>・缺乏彈性<br>・不通情理',
					'negativeKey':'限制・固執・無情'
				},
				'love':{
					'info':'愛情是正義人格，代表你在情感之中，尋求一種付出與收穫之間的平衡。這樣的人談起感情，會讓人覺得是有安全感的，不追求轟轟烈烈的激情，而是穩定的關係。不過這樣的愛情觀，也會給人過於保守的印象，而且也會讓人感覺太過於計較愛情的得失，反而會顯得有點綁手綁腳，失去了愛情的浪漫衝動。',
					'positive':'・仔細規劃<br>・細水長流<br>・穩定放心',
					'negative':'・計較得失<br>・缺乏激情<br>・容易失去新鮮感',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'工作事業學業是正義人格，習慣用理性思考的方式，仔細分析利弊，因此他做事是最公正不偏的。這樣的人也追求平衡和公正的特質，並且反映在待人處世上，正義待人，公正誠實而不失厚道。因此，正義牌人格，在工作事業上，適合走穩紮穩打的路線。可能不是群體中最亮眼的人，但大家會認為他做事是值得信任且放心的。',
					'positive':'・為眾人信服<br>・適合管理<br>・規律有效率',
					'negative':'・一板一眼<br>・好為人師<br>・不知變通',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':10,
				'cardName':'女教皇',
				'main':{
					'info':'你的理智運作旺盛，總是用理智在駕馭你充沛的情感。這張牌是一張代表精神和心靈發展的牌。這樣的人格，讓你特別扮演思考者的角色，透過思考、反問、內心探索，能夠讓你的行為看起來睿智又合宜，但另一方面，如何適當地表現自己的情感，會是你最重要的生活課題。',
					'positive':'・總是能夠保持理智<br>・擅於控制自己的情感<br>・能夠啟迪人心',
					'positiveKey':'理智・自制・謹慎',
					'negative':'・冷到讓人感到冷漠<br>・給人提不起勁的感覺<br>・忽略情感的重要',
					'negativeKey':'冷漠・冷感・無趣'
				},
				'love':{
					'info':'愛情是女教皇人格，代表你情感保守，習慣隱藏真正的感覺。因為相信直覺，所以一旦沒有十足的把握，就會採取被動策略，而對方常會因為感受不到熱情而感覺消退，理智的另外一方面就是保守，這是女教皇愛情性格的最大課題。',
					'positive':'・冷靜理智<br>・主導自己的感情<br>・帶給人安全感',
					'negative':'・過於冷淡<br>・無法自在表達情感<br>・容易陷於單戀的情緒',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'女教皇牌在工作上，常扮演團體中智囊的角色。因為冷靜，所以不會衝動行事，當遇到動盪變化時，往往是能夠清楚看清楚問題的人。但女教皇在工作上，也有一種守成的特質，欠缺開拓性，也不夠有企圖心。',
					'positive':'・能做出睿智判斷<br>・遵守規矩作風平穩<br>・高深莫測',
					'negative':'・缺乏開拓性格<br>・選擇保守路線<br>・給人思想老舊印象',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':11,
				'cardName':'隱者',
				'main':{
					'info':'隱者代表了世間的真理和智慧，同時也代表了離群索居，自我內在探索的特質。你擅於思考，太世故或是與人保持表面和諧的關係，並不適合你。往往因為你所散發出來的睿智能量，讓你在人群之中扮演智囊的角色。隱者特質的人，人生最大的課題就是如何身處在世俗化的世界，卻能夠不被人情世故給綑綁。而在尋找答案的路上，你常會感受到孤獨，隨著年紀漸長，你會越來越習慣這種內在的自我追尋。',
					'positive':'・追尋真理<br>・獨立自主<br>・決策睿智',
					'positiveKey':'智慧・獨立・指引',
					'negative':'・對情感不抱希望<br>・個性冷漠<br>・生性孤獨',
					'negativeKey':'悲觀・冷淡・消極'
				},
				'love':{
					'info':'愛情是隱者人格，代表你對愛情總是懷抱著追求真理的想法，想知道前因後果，想搞懂每個愛情行動背後代表的意義。不過當把每件事都看得很清楚，就會對情感顯得有些被動和悲觀。因為感情對你來說如同絢爛煙火，你反而會刻意保持距離讓自己抽離。',
					'positive':'・保持理智<br>・不會感情用事<br>・適合作為靈魂伴侶',
					'negative':'・讓人覺得冷淡<br>・澆熄熱情<br>・容易拒人於外',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'隱者牌在工作上，適合扮演智囊與軍師的角色，因為不怕孤獨，所以能夠獨立作業，也能把每件事都考慮得仔細。不過如果從事的工作是需要團隊合作的，有時就會給人一種獨行俠的印象，欠缺了一起打拼的那種夥伴關係。',
					'positive':'・能夠智慧思考<br>・不會衝動行事<br>・看清行動背後的原因',
					'negative':'・過於獨來獨往<br>・無法激盪出火花<br>・難以與人熱情互動',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':12,
				'cardName':'死神',
				'main':{
					'info':'你擁有大破大立的能力，以及與過去的限制枷鎖說再見的勇氣。一般人面對僵局，通常下不了決定，但你卻適合在這種時刻發揮你的強項。開創一個新的局面，或著是走出膠著的狀態。死神人格的特質，最適合在混亂的局面帶領團隊前進，或是找出解決改善的方法。因為你們總是不怕結束，也不害怕重新開始。但這樣的人格，也有一個需要面對的課題，就是如何不只是一個只動嘴巴的批判者，而是一個真正有所行動、帶領眾人前進的領航者。',
					'positive':'・不怕挑戰<br>・勇於說不<br>・走出困境',
					'positiveKey':'開拓・獨特・創新',
					'negative':'・容易做出結束決定<br>・欠缺毅力<br>・過於武斷',
					'negativeKey':'放棄・逃避・敵對'
				},
				'love':{
					'info':'愛情是死神人格，代表你對愛情的觀念，要燦如夏花，無需長久。所以這樣的人往往是個令人著迷的戀愛對象，卻無法成為相陪一生的伴侶。愛情的感覺來得濃烈，但是當感覺消退，也會讓人毫不留戀的離開。當愛得濃烈的時候，死神是一個很棒的情人，當不愛的時候，就是死神。',
					'positive':'・不拖泥帶水<br>・容易發展新戀情<br>・給人意外驚喜',
					'negative':'・說變就變<br>・情感消退快<br>・冷酷無情',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'死神人格在工作上，適合扮演開創者的角色。一般人覺得棘手的困境，反而能夠凸顯你們的優點。快速找出問題，有效率地找出解決方案，並且立即開始進行改善。因為不會被情感給綑綁住，所以做事總是非常的果斷而明快。但是要特別留意的是，當他們一旦開始陷入錯誤的決定中，就會變得霸道而無法溝通，甚至會衝動地壓上原有的籌碼，帶來工作上的風險。',
					'positive':'・決定果斷<br>・突破侷限<br>・充滿行動力',
					'negative':'・決策莽撞<br>・不聽別人意見<br>・否定他人努力',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
		];
		//== 各格卡片 ==
		var mainHScore,loveHScore,businessHScore;
		var mainCard=0;
		var loveCard=0;
		var businessCard=0;

		//=== 更多資訊送出 ===
		$('#submitBtn').on('click',function(){
			apiData.name=$('#name').val();
			//- apiData.age=Number($('#age').val() - 1);
			apiData.age=$('#age').find('option:selected').text();
			apiData.email=$('#email').val();
			var sex = $('#sexInputBox').find('input:checked').attr('id');
			apiData.gender=genderNum(sex);
			apiData.m=mainCard;
			apiData.l=loveCard;
			apiData.b=businessCard;
			apiData.result=cardSort[mainCard];
			console.log(sex);
			console.log(apiData);
			if(!apiData.name){
				alert('請輸入您的姓名。');
			}else if(!sex){
				alert('請選擇性別。');
			}else if(!apiData.email){
				alert('請輸入聯絡Email。');
			}else{
				apiSend(apiData);
				$('#moreLightBox').fadeOut();
				$('#waitInfoBox').fadeIn();
			}
		});

		//=== fb分享 ===
		$('#fbShare').on('click',function(e){
			e.preventDefault();
			window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Funlockwanderland.com%2F', '', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
			return false;
		});
		//=== line分享 ===
		$('#lineShare').on('click',function(e){
			e.preventDefault();
			window.open('https://social-plugins.line.me/lineit/share?url=https%3A%2F%2Funlockwanderland.com%2F', '', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
			return false;
		});
		
		//=== 分數計算和填入人格 ===
		function countScore(){
			$.each(questionList,function(ind,val){
				var ownCard = val.qCard;//所屬卡片
				var qScore = Number(val.qScore);//題目分數
				var ownTheme = val.qtheme;//所屬題主
				//== 卡片分數列表 ==
				$.each(cardScore,function(cInd,cVal){//cInd=0,1... cVal={'name':'魔術師','mainScor
					//0=魔術師,1=愚者,2=戀人,3=皇后,4=皇帝,5=戰車,6=吊人,7=節制,8=正義,9=女教皇,10=隱者,11=死神
					//== 主人格總分 == mainScore
					if(ownCard == cInd){
						cVal.mainScore = Number(cVal.mainScore) + qScore;
					}
					//== 愛情格分數 == loveScore
					if(ownCard == cInd && ownTheme==2){
						cVal.loveScore = Number(cVal.loveScore) + qScore;
					}
					//== 事業格分數 == businessScore
					if(ownCard == cInd && ownTheme==1){
						cVal.businessScore = Number(cVal.businessScore) + qScore;
					}
				});
			});

			//== 人格分數比較 ==
			$.each(cardScore,function(ind,val){
				//== 人格分數比較 ==
				//- var mainCard=0;
				//- var loveCard=0;
				//- var businessCard=0;
				var mainScore = val.mainScore;
				var loveScore = val.loveScore;
				var businessScore = val.businessScore;
				if(ind==0){
					mainHScore = mainScore;
					loveHScore = loveScore;
					businessHScore = businessScore;
				}else{
					//== 主人格分數比較 ==
					if(mainScore > mainHScore){
						mainHScore = mainScore;
						mainCard = ind;
					}
					//== 愛情格分數比較 ==
					if(loveScore > loveHScore){
						loveHScore = loveScore;
						loveCard = ind;
					}
					//== 事業格分數比較 ==
					if(businessScore > businessHScore){
						businessHScore = businessScore;
						businessCard = ind;
					}
				}
			});
			console.log('=== 題組分數 ===');
			console.log(questionList);
			console.log('=== 最高分數 ===');
			console.log('主:'+mainHScore,'愛:'+loveHScore,'事:'+businessHScore);
			console.log('=== 各格卡片 ===');
			console.log('主:'+mainCard,'愛:'+loveCard,'事:'+businessCard);

			//== 主人格資料填入 ==
			var mainCardName = resultCardInfo[mainCard].cardName;
			$('#mainCard').html(mainCardName);
			var mainCardUrl = cardUrl(resultCardInfo[mainCard].cardId);
			$('#mainCardImg').find('img').attr('src',mainCardUrl);
			var mainPositive = resultCardInfo[mainCard].main.positive;
			$('#mainPositive').html(mainPositive);
			var mainPositiveKey = resultCardInfo[mainCard].main.positiveKey;
			$('#mainPositiveKey').html(mainPositiveKey);
			var mainNegative = resultCardInfo[mainCard].main.negative;
			$('#mainNegative').html(mainNegative);
			var mainNegativeKey = resultCardInfo[mainCard].main.negativeKey;
			$('#mainNegativeKey').html(mainNegativeKey);
			var mainInfo = resultCardInfo[mainCard].main.info;
			$('#mainInfo').html(mainInfo);
		}
	});

	//=== api set ===
	function apiSend(apiData){
		var apiUrl="https://unlockwanderland.com/api";
		$.post(apiUrl, apiData, function (data) {
			console.log(data);
			if(data.status){
				$('#waitInfoBox').fadeOut();
				$('#sendDoneInfoBox').fadeIn();
			}
		}, 'json');
	}
	function genderNum(txt){
		if(txt=='male'){
			return '男';
		}else if(txt=='female'){
			return '女';
		}else{
			return false;
		}
	}

	//- $(window).on('load',function(){
	//- 	//- resultContHSet();
	//- });

	//- $(window).resize(function(){
	//- 	//- resultContHSet();
	//- });
	//=== 跑馬燈寫法 (可接續 不間斷的)===
	function marqueeMesFun() {//_marqueeMesInfo 是 跑馬燈資料
		//- var _marqueeMesInfo = JSON.parse(getSession('marquee'));
		//- $.each(_marqueeMesInfo.list, function (index, value) {
		//- 	$('#marqueeBox1,#marqueeBox2').append('<div>' + value + '</div>');
		//- });
		//- var _marqueeCont = $('#marqueeBox1').html();
		//- $('#marqueeBox1,#marqueeBox2').append(_marqueeCont);
		//- $('#marqueeBox1,#marqueeBox2').append(_marqueeCont);

		//跑馬燈
		var Speed = 15;
		var timer;
		var cont1W = Math.floor($('#runBox1').outerWidth());
		var cont2pL = Math.floor($('#runBox2').position().left) - cont1W;
		//利用這裡的外層盒子跑 scrollLeft ， 注意 #marqueeWrap 需要下 overflow:hidden 才會跑
		//- $('#characterRunArea').stop().animate({ scrollLeft: 0 }, 6000);
		// $('#myDiv').stop().animate({ scrollLeft: 15 }, 0);
		//console.log($('#marqueeBox1').html());
		// == 向左跑 ==
		function picMarquee() {
			//若pic2的寬小於myDiv的scrollLeft，表示捲軸已經過了第一行
			//所以讓Div的scrollLeft再回到原來的位置；反之 則繼續往右跑
			if (cont1W - cont2pL <= 0) {
				$('#characterRunArea').stop().animate({ scrollLeft: 0 }, 0);
				cont2pL = 0;
			} else {
				$('#characterRunArea').stop().animate({ scrollLeft: cont2pL++ }, 0);
			}
		}
		// == 向右跑 ==
		//- cont2pL=cont1W;
		//- console.log(cont2pL);
		//- function picMarqueeR(){
		//- 	if(cont2pL <= 0){
		//- 		$('#marqueeWrap').stop().animate({ scrollLeft: cont1W }, 0);
		//- 		cont2pL = cont1W;
		//- 	}else{
		//- 		$('#marqueeWrap').stop().animate({ scrollLeft: cont2pL-- }, 0);
		//- 	}
		//- }
		timer = setInterval(picMarquee, Speed);
		//- timer = setInterval(picMarqueeR, Speed); //向右跑
		//- // 當滑鼠在myDiv上時 就停止捲動
		//- $('#marqueeWrap').on('mouseenter', function () {
		//- 	clearInterval(timer);
		//- });
		//- // //當滑鼠離開myDiv上時 就繼續往右捲動
		//- $('#marqueeWrap').on('mouseleave', function () {
		//- 	timer = setInterval(picMarquee, Speed);
		//- });
	}

	//- function resultContHSet(){
	//- 	var resultContH=$('#resultPaperCont').outerHeight();
	//- 	$('#resultPaperBg').css({'height':resultContH});
	//- }

	var scTop;
	function bgFix() {
		scTop = $(document).scrollTop();
		$('body').css({ 'top': -scTop, 'position': 'fixed', 'width': '100%' })
	}
	function bgUnFix() {
		$('body').removeAttr('style');
		$('html,body').animate({ scrollTop: scTop }, 0);
	}

	//== 切頁回到最上 ==
	function goTopImmed(){
		$('html,body').animate({ scrollTop: 0 }, 0);
	}
	//== 滾動回到最上 ==
	function goTop(){
		$('html,body').animate({ scrollTop: 0 }, 300);
	}

	//=== array 亂數洗牌 ===
	function shuffle(array) {
		let currentIndex = array.length,  randomIndex;

		// While there remain elements to shuffle.
		while (currentIndex != 0) {

			// Pick a remaining element.
			randomIndex = Math.floor(Math.random() * currentIndex);
			currentIndex--;

			// And swap it with the current element.
			[array[currentIndex], array[randomIndex]] = [
			array[randomIndex], array[currentIndex]];
		}

		return array;
	}

	//卡片圖片url
	function cardUrl(num){
		var url='img/card'+num+'.jpg';
		return url;
	}
	