include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.page-area#questionArea
			.page-logo
				img(src="img/logo_s.svg")
			// 結果區
			.result-cont#resultCont
				// 主人格
				.result-paper-area.result-paper-page
					.result-paper-cont#resultPaperCont
						.coner.coner1
						.coner.coner2
						.page-border.top
							.star.top
						.page-border.bot
							.star.bot
						.result-paper-info-cont
							.result-paper-tit
								.circle-tit-box
									span 測
									span 驗
									span 結
									span 果
								.result-name-box
									.name.resultName -
									.txt 你的主人格是
									.result#mainCard -
							.result-info-area
								.result-info-card-area
									.result-info-card-img
										.img-box#mainCardImg
											img(src="img/card10.jpg", alt="")
								.result-info-cube-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個正面特質
										.cont#mainPositive -
										//- .cont#test ・啟動正面思考的能量<br>・讓惰性元素變得活化<br>・能接受挑戰創造機會
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個負面特質
										.cont#mainNegative -
										//- .cont ・無法冷靜思考<br>・想法不專一<br>・容易給人壓力
									.result-info-cube-box.bot
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_keywords.svg", alt="")
											.line.right
										.tit 人格強勢關鍵字
										.cont#mainPositiveKey -
										//- .cont 熱情・主動・創造
									.result-info-cube-box.bot
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_keywords.svg", alt="")
											.line.right
										.tit 人格弱勢關鍵字
										.cont#mainNegativeKey -
										//- .cont 急躁・善變・壓力
								.result-info-overview-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_overview.svg", alt="")
											.line.right
										.tit 主人格概述
										.cont#mainInfo -
										//- .cont 你主動而有行動力，具有正向能量。而且你的行動經過清晰思考，所以充滿把握與自信。在塔羅牌中，魔術師人格具有點石成金的能力，在面對挑戰的時候，他善於發揮組織力和創造力，把周圍的元素轉化為實質的東西。同時，魔術師人格也有一種「把夢想變實際」的能力，他適合築夢，也可以把空幻的夢想變成穩固的現實。
				// 事業格
				.result-paper-area.result-paper-page
					.result-paper-cont#resultPaperContBusiness
						.coner.coner1
						.coner.coner2
						.page-border.top
							.star.top
						.page-border.bot
							.star.bot
						.result-paper-info-cont
							.result-paper-tit
								.circle-tit-box
									span 測
									span 驗
									span 結
									span 果
								.result-name-box
									.name.resultName -
									.txt 你的事業格是
									.result#businessCard -
							.result-info-area
								.result-info-card-area
									.result-info-card-img
										.img-box#businessCardImg
											img(src="img/card2.jpg", alt="")
								.result-info-cube-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個正面特質
										.cont#businessPositive -
										//- .cont ・啟動正面思考的能量<br>・讓惰性元素變得活化<br>・能接受挑戰創造機會
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個負面特質
										.cont#businessNegative -
										//- .cont ・無法冷靜思考<br>・想法不專一<br>・容易給人壓力
									//- 關鍵字
									//- .result-info-cube-box.bot
									//- 	.result-info-cube-en-box
									//- 		.line.left
									//- 		.en-box
									//- 			img(src="img/tit_keywords.svg", alt="")
									//- 		.line.right
									//- 	.tit 人格強勢關鍵字
									//- 	.cont 熱情・主動・創造
									//- .result-info-cube-box.bot
									//- 	.result-info-cube-en-box
									//- 		.line.left
									//- 		.en-box
									//- 			img(src="img/tit_keywords.svg", alt="")
									//- 		.line.right
									//- 	.tit 人格弱勢關鍵字
									//- 	.cont 急躁・善變・壓力
								.result-info-overview-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_overview.svg", alt="")
											.line.right
										.tit 事業人格概述
										.cont#businessInfo -
										//- .cont 你主動而有行動力，具有正向能量。而且你的行動經過清晰思考，所以充滿把握與自信。在塔羅牌中，魔術師人格具有點石成金的能力，在面對挑戰的時候，他善於發揮組織力和創造力，把周圍的元素轉化為實質的東西。同時，魔術師人格也有一種「把夢想變實際」的能力，他適合築夢，也可以把空幻的夢想變成穩固的現實。
				// 愛情格
				.result-paper-area.result-paper-page
					.result-paper-cont#resultPaperContLove
						.coner.coner1
						.coner.coner2
						.page-border.top
							.star.top
						.page-border.bot
							.star.bot
						.result-paper-info-cont
							.result-paper-tit
								.circle-tit-box
									span 測
									span 驗
									span 結
									span 果
								.result-name-box
									.name.resultName -
									.txt 你的愛情格是
									.result#loveCard -
							.result-info-area
								.result-info-card-area
									.result-info-card-img
										.img-box#loveCardImg
											img(src="img/card3.jpg", alt="")
								.result-info-cube-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個正面特質
										.cont#lovePositive -
										//- .cont ・啟動正面思考的能量<br>・讓惰性元素變得活化<br>・能接受挑戰創造機會
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_statement.svg", alt="")
											.line.right
										.tit 三個負面特質
										.cont#loveNegative -
										//- .cont ・無法冷靜思考<br>・想法不專一<br>・容易給人壓力
									//- 關鍵字
									//- .result-info-cube-box.bot
									//- 	.result-info-cube-en-box
									//- 		.line.left
									//- 		.en-box
									//- 			img(src="img/tit_keywords.svg", alt="")
									//- 		.line.right
									//- 	.tit 人格強勢關鍵字
									//- 	.cont 熱情・主動・創造
									//- .result-info-cube-box.bot
									//- 	.result-info-cube-en-box
									//- 		.line.left
									//- 		.en-box
									//- 			img(src="img/tit_keywords.svg", alt="")
									//- 		.line.right
									//- 	.tit 人格弱勢關鍵字
									//- 	.cont 急躁・善變・壓力
								.result-info-overview-area
									.result-info-cube-box
										.result-info-cube-en-box
											.line.left
											.en-box
												img(src="img/tit_overview.svg", alt="")
											.line.right
										.tit 愛情人格概述
										.cont#loveInfo -
										//- .cont 你主動而有行動力，具有正向能量。而且你的行動經過清晰思考，所以充滿把握與自信。在塔羅牌中，魔術師人格具有點石成金的能力，在面對挑戰的時候，他善於發揮組織力和創造力，把周圍的元素轉化為實質的東西。同時，魔術師人格也有一種「把夢想變實際」的能力，他適合築夢，也可以把空幻的夢想變成穩固的現實。		
			//-內容
			include includes/footer
script.
	$(document).ready(function(){
		var cardSort=['魔術師','愚者','戀人','皇后','皇帝','戰車','吊人','節制','正義','女教皇','隱者','死神'];
		var resultCardInfo=[
			{
				'cardId':1,
				'cardName':'魔術師',
				'main':{
					'info':'你主動而有行動力，具有正向能量。而且你的行動經過清晰思考，所以充滿把握與自信。在塔羅牌中，魔術師人格具有點石成金的能力，在面對挑戰的時候，他善於發揮組織力和創造力，把周圍的元素轉化為實質的成果。同時，魔術師人格也有一種「把夢想變實際」的能力，他適合築夢，也可以把空幻的夢想變成穩固的現實。',
					'positive':'・正面思考<br>・活化惰性<br>・能創造機會',
					'positiveKey':'熱情・主動・創造',
					'negative':'・無法冷靜思考<br>・想法不專一<br>・容易給人壓力',
					'negativeKey':'急躁・善變・壓力'
				},
				'love':{
					'info':'愛情是魔術師人格，代表你容易受到喜歡和歡迎，原因很簡單，你可以創造出愛情裡的新鮮感。而且你可以跟不同類型的人，都擦撞出愛情的火花。整體來說你在感情的世界裡，是如魚得水且受歡迎的。因為魔術師也代表了學習，就算一開始對方對你沒有多大的興趣，也可能會因為你不斷學習和進化，不知不覺被你吸引。',
					'positive':'・帶給人新鮮感<br>・具有獨特魅力<br>・善於言語溝通',
					'negative':'・見異思遷<br>・欠缺續航力<br>・說的比做的好',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'工作事業學業是魔術師人格，顯示你充滿創意，也喜歡創新的事物。如果你的工作或是學業上能讓你有展現想法的機會，你會如魚得水。同時與人有關的事，無論是行銷、文化或是藝文，你都具有絕佳的能力，最會消磨你的熱情的，是那些重複的、被框架給限制的工作，因為沒有創造力的事會讓你失去光與熱。',
					'positive':'・有創造力<br>・善於互動<br>・點石成金',
					'negative':'・欠缺耐性<br>・容易自滿<br>・容易失去鬥志',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':2,
				'cardName':'愚者',
				'main':{
					'info':'愚者代表了人性中天真和熱情的部分，同時也代表了喜愛旅行和浪漫的本質。你並不適合過於世故和成熟的世界，能夠在大人的世界裡，當個純真而熱情的孩子，才會讓你的靈魂真正感受到快樂。愚者也代表了宇宙間的風元素，總是有很多新鮮的念頭，但卻沒有定性，當你認清了自己，就不對會自己總是見異思遷感到過意不去。',
					'positive':'・天真浪漫<br>・孩子般的熱情<br>・充滿新鮮想法',
					'positiveKey':'熱情・探索・純真',
					'negative':'・理想主義<br>・想法幼稚<br>・無法承擔責任',
					'negativeKey':'任性・逃避・粗心'
				},
				'love':{
					'info':'愛情是愚者人格，暗示你的感情觀是享受當下，隨遇而安。因為不喜歡被規則給捆綁住。你的感覺總是說來就來，很容易墜入愛河，也喜歡浪漫的驚喜。所以不想計劃將來的對象特別適合你，有點難以捉摸的彼此關係，反而會讓你常保新鮮感和熱情。',
					'positive':'・浪漫而富有魅力<br>・讓對方覺得充滿驚喜<br>・適合透過旅行找到愛情',
					'negative':'・說變就變<br>・沒感覺的時候會閃離<br>・無法規劃長久未來',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'愚者牌在工作和人際關係方面，因為是個讓人覺得輕鬆的夥伴，所以相當受到歡迎。也容易以輕鬆的方式來結交各類朋友。工作上因為廣結人脈的好人緣，非常適合從事開發業務相關的工作。不過愚者在承擔責任上，續航力顯得不足，常常經營了一段時間之後，就會覺得失去耐心，無法贏得最後的勝利。',
					'positive':'・讓人覺得輕鬆有趣<br>・容易結交人脈<br>・是團隊裡的氣氛催化劑',
					'negative':'・不適合承擔責任<br>・隨便答應事情<br>・三分鐘熱度',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':3,
				'cardName':'戀人',
				'main':{
					'info':'你的內心蘊藏著浩瀚的愛的能量，敏感而纖細。有時候，孤獨的感覺還是會讓你自我懷疑，那是因為你對愛的渴望強烈。試著釋放善意，承認自己的多愁善感，愛的充沛與磨練將讓你成為更好的人。',
					'positive':'・釋放善意改變磁場<br>・能帶給人幸福的感受<br>・擅長建立默契關係',
					'positiveKey':'幸福・正向・包容',
					'negative':'・害怕失落而怯步<br>・過於多愁善感<br>・個性敏感到讓人懼怕',
					'negativeKey':'敏感・情緒・怯懦'
				},
				'love':{
					'info':'愛情是戀人人格，代表你容易建立與對方的親密關係。因為當你釋放善意的時候，會散發一種穩定幸福的磁場，感染身旁親近的人。而與你達成共識和建立默契的感覺，會讓人不由自主地被你吸引。',
					'positive':'・喚醒幸福渴望<br>・容易建立關係<br>・懂得善解人意',
					'negative':'・容易患得患失<br>・因為愛而畏懼<br>・情緒起伏波動',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'將戀人牌的特質發揮到工作上，你總是散發與人樂於合作的特質。和諧且互補的夥伴關係，會幫你建立盟約關係，同時透過這樣的團隊，讓自己如魚得水，目標更容易達成。',
					'positive':'・樂於建立關係<br>・懂得互助合作<br>・擅長凝聚團隊',
					'negative':'・情緒反應過激<br>・無法單打獨鬥<br>・需要依賴他人',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':4,
				'cardName':'皇后',
				'main':{
					'info':'皇后代表了感性的，豐盈的，讓人放鬆的。這樣的你能夠塑造出一種富足的狀態，跟你在一起就會覺得享受生活是一件很重要的事。同時，你的感性能量也十分的充沛，容易感染身邊的人，但是同時你也會容易感情用事，如何讓感性的那一面成為你的助力而非阻礙，會是你最重要的課題。',
					'positive':'・情感充沛<br>・具有感染力<br>・帶給人放鬆和幸福感',
					'positiveKey':'感性・包容・享樂',
					'negative':'・太重視物質<br>・感情用事<br>・情緒化',
					'negativeKey':'沉迷・自我・物慾'
				},
				'love':{
					'info':'愛情是皇后人格，代表你的情感能量十分充沛，常常會讓對方感覺到愛情的氛圍，因此對你產生好感不過也容易陷於感官與享受的迷思中，因為總是喜好美好事物又追求感官享受，讓人有種過於重視物質生活的印象。',
					'positive':'・懂得享受<br>・充滿自信魅力<br>・擅於與人互動',
					'negative':'・太重視物質體驗<br>・情緒波動大<br>・太過於自我為中心',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'皇后牌在工作上，能為團隊帶來良好的合作氣氛，因為重視感性，也是團隊之中很重要的靈魂人物和黏著劑。不過往往也會因為過於感性思考，往往都會讓人有種不夠犀利的印象。反而無法勝任重責大任。',
					'positive':'・充滿包容心<br>・具備領袖特質<br>・容易獲得他人信任',
					'negative':'・過於情緒化<br>・被物質感官吸引<br>・虛榮心重喜歡甜言蜜語',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':5,
				'cardName':'皇帝',
				'main':{
					'info':'你是一位對別人強大的影響力和控制力的人，透過你本身的領袖魅力，可以讓群體凝聚向心力。不過，皇帝人格通常也併隨著強勢和強烈的情緒起伏。你能夠給別人正確的引導，並協助他人獲得成就感。但你也同時會控制別人，甚至有可能會帶領別人走入錯誤的路，皇帝人格的人優點就是充滿個人魅力，但也因為他的人格特質，有時常會陷入過度自信的迷思裡。',
					'positive':'・能讓周圍的人感到放心<br>・能提供他人正確的指示<br>・領袖氣質擅長帶領團隊',
					'positiveKey':'果斷・精明・領導',
					'negative':'・因過度自信而判斷失誤<br>・過於強勢讓人有距離感<br>・處逆境時容易自我放棄',
					'negativeKey':'自滿・強勢・嚴厲'
				},
				'love':{
					'info':'愛情是皇帝人格，代表你容易在戀情中顯現主導性格，強勢又帶給對方安全感。但有時會因為掌控慾過強，讓對方想要逃避。也因為絕對不會衝動的穩定性格，會少了一些刺激和火花。',
					'positive':'・帶給人安全感<br>・具有領袖魅力<br>・對情感負責任',
					'negative':'・容易掌控對方<br>・不太有同理心<br>・不太輕易低頭',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'具有鍥而不捨的學習精神，因為總是對自我要求特別高，所以在團體中也常會擔任領導者的角色。能夠很果斷地處理事情，善於管理團隊，也願意幫助他人。',
					'positive':'・能大方提供協助<br>・勇於承擔責任<br>・能夠堅持目標',
					'negative':'・被認為自以為是<br>・給人驕傲印象<br>・喜歡情緒勒索',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':6,
				'cardName':'戰車',
				'main':{
					'info':'戰車總是在前進的狀態，不一定是橫衝直撞，也可能是緩步向前。前進會讓你感覺到存在感，相反的，如果事情停滯不前，你就會越來越失去耐性。戰車牌具有完成目標的毅力，但也因為能量持續在耗費中，一段時間就會容易出現心靈的疲倦。',
					'positive':'・持續朝目標前進<br>・喜歡設定目標<br>・展現積極能量',
					'positiveKey':'積極・前進・毅力',
					'negative':'・停滯時會顯得暴躁<br>・過於功利主義<br>・缺少憐憫之心',
					'negativeKey':'忙亂・懷疑・剛硬'
				},
				'love':{
					'info':'愛情是戰車人格，代表你的感情適合處在活躍的狀態。比起等待他人追求，你更適合採取主動，天生比較適合當獵人而非獵物。',
					'positive':'・適合主動出擊<br>・給人積極印象<br>・進攻時散發吸引力',
					'negative':'・有時過於急躁<br>・無法處於逆境<br>・得不到回應會慌亂',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'戰車牌在工作上，會給人一種積極主動的好印象。容易被交付重責大任，也很容易達成自己設定的目標。但戰車牌如果處於不順遂狀態，反而會顯得心理素質不好而有自暴自棄的傾向。',
					'positive':'・適合交付重要任務<br>・能夠帶領他人向前<br>・積極進取的企圖心',
					'negative':'・無法應變節奏變化<br>・聽不進他人的意見<br>・常忽略同伴感受',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':7,
				'cardName':'吊人',
				'main':{
					'info':'吊人顯示了一種犧牲奉獻的精神，為了你自己所相信的、為了團體、為了自己所愛之人，你願意付出並且持續這麼做。所以吊人被視為忠誠的象徵，也代表了是可以信賴的夥伴，透過你內心順從生命的指令，做一個不犯錯而努力付出的人。比起追求光環，吊人更在意的是自己付出的聖潔感，這會讓自己因為感覺被需要而存在。不過，這也是這個人格的最大課題，如何找出生命的價值，而不是來自對方的眼光和肯定，散發熱情為自己而活。',
					'positive':'・犧牲奉獻<br>・對關係盡責<br>・有很強的續航力',
					'positiveKey':'忠誠・付出・順從',
					'negative':'・失去自我<br>・靠別人找到自信<br>・悲劇英雄傾向',
					'negativeKey':'盲目・自卑・依賴'
				},
				'love':{
					'info':'愛情是吊人人格，代表你對愛情總是習慣付出，把照顧對方視為理所當然。這樣的戀愛關係很容易在一開始的時候綁住對方的心，因為和你在一起是很有安全感的。但危機也藏身其中。你會發現自的愛變得太過於理所當然，而失去了愛情裡的主控權。',
					'positive':'・懂得照顧人<br>・理解對方感受<br>・願意為愛付出',
					'negative':'・讓人覺得缺乏新鮮感<br>・過於一廂情願<br>・容易成為工具人',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'工作是吊人人格，對工作總是願意全力以赴，並且值得相信，也願意承擔責任。因為你可以全心付出不求回報，所以在團體中是很適合交付任務的對象。只是要特別留意的是，這樣的特質有個潛在的風險，就是你的權益總是會放被放在最後。因為你不會凸顯個人英雄主義，但反而有時會顯得無欲無求，而成為有苦勞沒有功勞的角色。',
					'positive':'・有責任感<br>・值得信任<br>・不搶功',
					'negative':'・常常感到委屈<br>・無聲的工作者<br>・不擅於展現自身價值',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':8,
				'cardName':'節制',
				'main':{
					'info':'你講究感性與理性的平衡，做什麼都希望能適度與平衡。因為每件事和諧存在的狀態，會讓你感到內心平靜。節制型人格總是律己甚嚴，希望滿足他人，也希望自己表現得宜。也因為這樣的人格特質，你很多時後會過得特別辛苦，因為你們總是謹慎控制自己的情感，也不讓自己行為太引人注目，所以會不斷地反覆思考。節制型人格最大的課題就是學會放鬆。',
					'positive':'・舉止得宜<br>・平衡關係<br>・個性溫和',
					'positiveKey':'和諧・平靜・控制',
					'negative':'・內心掙扎<br>・缺乏勇氣改變<br>・心口不一',
					'negativeKey':'疲乏・平庸・懦弱'
				},
				'love':{
					'info':'愛情是節制人格，代表你對愛情總是希望能夠達到感性與理性的平衡，不想要愛得太過於激烈，也要求自己不要因為愛而讓生活失去控制。這樣的人格特質，會讓對方感受到疏離，好像無法全心全意投入一段戀情中。',
					'positive':'・理性與感性平衡<br>・細水長流<br>・建立長久關係',
					'negative':'・凡事精準計算<br>・讓人感受不到熱情<br>・無法誠實表達情感',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'節制人格在工作上，擁有敏銳的直覺力，因為內心總是在衡量感性與理性的平衡，所以做事很能面面俱到，跟什麼人都能共組團隊，成為可靠的中堅份子。但節制型的人，在工作也會遇到一個問題，就是太走安全路線，為了避免不出錯，一切事情都走在最安全的道路上，反而會讓自己的表現不容易讓人有深刻印象。',
					'positive':'・感性理性平衡<br>・給人安全感<br>・創造團隊和諧的氣氛',
					'negative':'・過於保守<br>・缺乏創意<br>・難建立深刻關係',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':9,
				'cardName':'正義',
				'main':{
					'info':'正義代表了維持秩序的規則，律法，以及公平公正。所以你的個性裡，存在著強烈的公平主義。這也反應你做事的原則上，公平優先、公平至上。同時你也在乎秩序和規則，透過這些規範，讓你的世界可以維持秩序，順利運作。但要特別留意的是，這樣的你，也會有過於僵化的傾向，因為這些帶來安全感的規則，往往會制約了奔放的想法和更多的可能。',
					'positive':'・遵守規定<br>・維持秩序<br>・給人穩定和安全感',
					'positiveKey':'規則・秩序・平衡',
					'negative':'・被規則給制約<br>・缺乏彈性<br>・不通情理',
					'negativeKey':'限制・固執・無情'
				},
				'love':{
					'info':'愛情是正義人格，代表你在情感之中，尋求一種付出與收穫之間的平衡。這樣的人談起感情，會讓人覺得是有安全感的，不追求轟轟烈烈的激情，而是穩定的關係。不過這樣的愛情觀，也會給人過於保守的印象，而且也會讓人感覺太過於計較愛情的得失，反而會顯得有點綁手綁腳，失去了愛情的浪漫衝動。',
					'positive':'・仔細規劃<br>・細水長流<br>・穩定放心',
					'negative':'・計較得失<br>・缺乏激情<br>・容易失去新鮮感',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'工作事業學業是正義人格，習慣用理性思考的方式，仔細分析利弊，因此他做事是最公正不偏的。這樣的人也追求平衡和公正的特質，並且反映在待人處世上，正義待人，公正誠實而不失厚道。因此，正義牌人格，在工作事業上，適合走穩紮穩打的路線。可能不是群體中最亮眼的人，但大家會認為他做事是值得信任且放心的。',
					'positive':'・為眾人信服<br>・適合管理<br>・規律有效率',
					'negative':'・一板一眼<br>・好為人師<br>・不知變通',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':10,
				'cardName':'女教皇',
				'main':{
					'info':'你的理智運作旺盛，總是用理智在駕馭你充沛的情感。這張牌是一張代表精神和心靈發展的牌。這樣的人格，讓你特別扮演思考者的角色，透過思考、反問、內心探索，能夠讓你的行為看起來睿智又合宜，但另一方面，如何適當地表現自己的情感，會是你最重要的生活課題。',
					'positive':'・總是能夠保持理智<br>・擅於控制自己的情感<br>・能夠啟迪人心',
					'positiveKey':'理智・自制・謹慎',
					'negative':'・冷到讓人感到冷漠<br>・給人提不起勁的感覺<br>・忽略情感的重要',
					'negativeKey':'冷漠・冷感・無趣'
				},
				'love':{
					'info':'愛情是女教皇人格，代表你情感保守，習慣隱藏真正的感覺。因為相信直覺，所以一旦沒有十足的把握，就會採取被動策略，而對方常會因為感受不到熱情而感覺消退，理智的另外一方面就是保守，這是女教皇愛情性格的最大課題。',
					'positive':'・冷靜理智<br>・主導自己的感情<br>・帶給人安全感',
					'negative':'・過於冷淡<br>・無法自在表達情感<br>・容易陷於單戀的情緒',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'女教皇牌在工作上，常扮演團體中智囊的角色。因為冷靜，所以不會衝動行事，當遇到動盪變化時，往往是能夠清楚看清楚問題的人。但女教皇在工作上，也有一種守成的特質，欠缺開拓性，也不夠有企圖心。',
					'positive':'・能做出睿智判斷<br>・遵守規矩作風平穩<br>・高深莫測',
					'negative':'・缺乏開拓性格<br>・選擇保守路線<br>・給人思想老舊印象',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':11,
				'cardName':'隱者',
				'main':{
					'info':'隱者代表了世間的真理和智慧，同時也代表了離群索居，自我內在探索的特質。你擅於思考，太世故或是與人保持表面和諧的關係，並不適合你。往往因為你所散發出來的睿智能量，讓你在人群之中扮演智囊的角色。隱者特質的人，人生最大的課題就是如何身處在世俗化的世界，卻能夠不被人情世故給綑綁。而在尋找答案的路上，你常會感受到孤獨，隨著年紀漸長，你會越來越習慣這種內在的自我追尋。',
					'positive':'・追尋真理<br>・獨立自主<br>・決策睿智',
					'positiveKey':'智慧・獨立・指引',
					'negative':'・對情感不抱希望<br>・個性冷漠<br>・生性孤獨',
					'negativeKey':'悲觀・冷淡・消極'
				},
				'love':{
					'info':'愛情是隱者人格，代表你對愛情總是懷抱著追求真理的想法，想知道前因後果，想搞懂每個愛情行動背後代表的意義。不過當把每件事都看得很清楚，就會對情感顯得有些被動和悲觀。因為感情對你來說如同絢爛煙火，你反而會刻意保持距離讓自己抽離。',
					'positive':'・保持理智<br>・不會感情用事<br>・適合作為靈魂伴侶',
					'negative':'・讓人覺得冷淡<br>・澆熄熱情<br>・容易拒人於外',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'隱者牌在工作上，適合扮演智囊與軍師的角色，因為不怕孤獨，所以能夠獨立作業，也能把每件事都考慮得仔細。不過如果從事的工作是需要團隊合作的，有時就會給人一種獨行俠的印象，欠缺了一起打拼的那種夥伴關係。',
					'positive':'・能夠智慧思考<br>・不會衝動行事<br>・看清行動背後的原因',
					'negative':'・過於獨來獨往<br>・無法激盪出火花<br>・難以與人熱情互動',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
			{
				'cardId':12,
				'cardName':'死神',
				'main':{
					'info':'你擁有大破大立的能力，以及與過去的限制枷鎖說再見的勇氣。一般人面對僵局，通常下不了決定，但你卻適合在這種時刻發揮你的強項。開創一個新的局面，或著是走出膠著的狀態。死神人格的特質，最適合在混亂的局面帶領團隊前進，或是找出解決改善的方法。因為你們總是不怕結束，也不害怕重新開始。但這樣的人格，也有一個需要面對的課題，就是如何不只是一個只動嘴巴的批判者，而是一個真正有所行動、帶領眾人前進的領航者。',
					'positive':'・不怕挑戰<br>・勇於說不<br>・走出困境',
					'positiveKey':'開拓・獨特・創新',
					'negative':'・容易做出結束決定<br>・欠缺毅力<br>・過於武斷',
					'negativeKey':'放棄・逃避・敵對'
				},
				'love':{
					'info':'愛情是死神人格，代表你對愛情的觀念，要燦如夏花，無需長久。所以這樣的人往往是個令人著迷的戀愛對象，卻無法成為相陪一生的伴侶。愛情的感覺來得濃烈，但是當感覺消退，也會讓人毫不留戀的離開。當愛得濃烈的時候，死神是一個很棒的情人，當不愛的時候，就是死神。',
					'positive':'・不拖泥帶水<br>・容易發展新戀情<br>・給人意外驚喜',
					'negative':'・說變就變<br>・情感消退快<br>・冷酷無情',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				},
				'business':{
					'info':'死神人格在工作上，適合扮演開創者的角色。一般人覺得棘手的困境，反而能夠凸顯你們的優點。快速找出問題，有效率地找出解決方案，並且立即開始進行改善。因為不會被情感給綑綁住，所以做事總是非常的果斷而明快。但是要特別留意的是，當他們一旦開始陷入錯誤的決定中，就會變得霸道而無法溝通，甚至會衝動地壓上原有的籌碼，帶來工作上的風險。',
					'positive':'・決定果斷<br>・突破侷限<br>・充滿行動力',
					'negative':'・決策莽撞<br>・不聽別人意見<br>・否定他人努力',
					//- 'positiveKey':'',
					//- 'negativeKey':''
				}
			},
		];
		//- 愚者 戀人 皇后 皇帝 戰車 吊人 節制 正義 女教皇 隱者 死神
		//- $('#test').html(resultCardInfo[0].main.positive);
		//- var userName = '王小明';
		var userName = getLinkVal('name');
		$('.resultName').html(userName);

		var mainCard = getLinkVal('m');
		var businessCard = getLinkVal('b');
		var loveCard = getLinkVal('l');
		//- var mainCard = mainCareGet-1;
		//- var businessCard = businessCardGet-1;
		//- var loveCard = loveCardGet-1;
		console.log(mainCard,businessCard,loveCard);
		//-主人格
		var mainCardName = resultCardInfo[mainCard].cardName;
		$('#mainCard').html(mainCardName);
		var mainCardUrl = cardUrl(resultCardInfo[mainCard].cardId);
		$('#mainCardImg').find('img').attr('src',mainCardUrl);
		var mainPositive = resultCardInfo[mainCard].main.positive;
		$('#mainPositive').html(mainPositive);
		var mainPositiveKey = resultCardInfo[mainCard].main.positiveKey;
		$('#mainPositiveKey').html(mainPositiveKey);
		var mainNegative = resultCardInfo[mainCard].main.negative;
		$('#mainNegative').html(mainNegative);
		var mainNegativeKey = resultCardInfo[mainCard].main.negativeKey;
		$('#mainNegativeKey').html(mainNegativeKey);
		var mainInfo = resultCardInfo[mainCard].main.info;
		$('#mainInfo').html(mainInfo);
		//-愛情格
		var loveCardName = resultCardInfo[loveCard].cardName;
		$('#loveCard').html(loveCardName);
		var loveCardUrl = cardUrl(resultCardInfo[loveCard].cardId);
		$('#loveCardImg').find('img').attr('src',loveCardUrl);
		var lovePositive = resultCardInfo[loveCard].love.positive;
		$('#lovePositive').html(lovePositive);
		var loveNegative = resultCardInfo[loveCard].love.negative;
		$('#loveNegative').html(loveNegative);
		var loveInfo = resultCardInfo[loveCard].love.info;
		$('#loveInfo').html(loveInfo);
		//-事業格
		var businessCardName = resultCardInfo[businessCard].cardName;
		$('#businessCard').html(businessCardName);
		var businessCardUrl = cardUrl(resultCardInfo[businessCard].cardId);
		$('#businessCardImg').find('img').attr('src',businessCardUrl);
		var businessPositive = resultCardInfo[businessCard].business.positive;
		$('#businessPositive').html(businessPositive);
		var businessNegative = resultCardInfo[businessCard].business.negative;
		$('#businessNegative').html(businessNegative);
		var businessInfo = resultCardInfo[businessCard].business.info;
		$('#businessInfo').html(businessInfo);
	});

	//取得網址參數
	function getLinkVal(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if (r != null) return decodeURI(r[2]); return null;
	}
	//卡片圖片url
	function cardUrl(num){
		var url='img/card'+num+'.jpg';
		return url;
	}